#contact {
  margin-top: 37px;
  .contact_container {
    width: 100%;
    height: auto;
    padding: 15px;
    box-shadow: 0px 3px 15px #00000033;
    margin-bottom: 80px;
    background-color: #ffffff;
    h2.title {
      margin-top: 0;
    }
    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 64px 0;
      @media (max-width: 760px) {
        flex-direction: column;
      }
      .contact-info-text {
        display: flex;
        flex-direction: column;
        margin: 0 80px 0 0;
        .description {
          display: flex;
          flex-direction: column;
          margin: 0 0 24px 0;
          h2 {
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            color: #3e3e3e;
            margin: 0 0 10px 0;
            @media (max-width: 760px) {
              font-size: 20px;
              line-height: 1.1;
            }
          }
          p {
            margin: 0 0 4px 0;
            @media (max-width: 760px) {
              font-size: 14px;
              line-height: 1.1;
            }
            a {
              color: #2cb5ff;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
      .form_contact_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #f8fafd;
        border-radius: 18px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.0666666667);
        padding: 10px;
        .contact_container-message-form {
          h2.title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            color: #3e3e3e;
            margin: 0 0 10px 0;
            @media (max-width: 760px) {
              font-size: 20px;
              line-height: 1.1;
            }
          }
          p.form-desc {
            font-size: 14px;
            @media (max-width: 760px) {
              font-size: 12px;
              line-height: 1.2;
            }
          }
        }
        .form_contact_container-short {
          .form-slot-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 10px;
            @media (max-width: 640px) {
              flex-direction: column;
              gap: 0;
            }
          }
          .form-slot {
            display: flex;
            flex-direction: column;
            width: 100%;
            label {
              margin-top: 10px;
              margin-left: 12px;
              font-size: 14px;
              line-height: 19px;
              @media (max-width: 760px) {
                font-size: 12px;
                line-height: 1.2;
                margin-bottom: 2px;
              }
            }
            input {
              font-family: "Roboto", sans-serif;
              background-color: #efefef;
              border: 1px solid #cecece;
              border-radius: 20px;
              height: 40px;
              font-size: 14px;
              padding-left: 16px;
              &:focus {
                border: 1px solid #2cb5ff;
                outline: 0;
              }
            }
          }
        }
        .form_contact_container-wide {
          .form-info-text {
            p {
              font-size: 12px;
              line-height: 14px;
            }
          }
          .checkbox-box {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            input {
              width: 16px;
              height: 16px;
            }
            label {
              font-size: 12px;
              line-height: 14px;
              margin-left: 4px;
              margin-top: 0;
              a {
                color: #2cb5ff;
                text-decoration: underline;
                &:hover {
                  text-decoration: none;
                }
              }
              @media (max-width: 760px) {
                font-size: 12px;
                line-height: 1.2;
                margin-bottom: 2px;
              }
            }
          }
          .form_name_button-slot {
            width: 100%;
            input.button {
              display: flex;
              justify-content: center;
              font-size: 16px;
              line-height: 1;
              font-weight: 400;
              color: #ffffff;
              border: 1px solid #2cb5ff;
              background-color: #2cb5ff;
              border-radius: 12px;
              padding: 0px 24px;
              width: max-content;
              min-width: 200px;
              height: 40px;
              box-sizing: border-box;
              margin: 24px auto;
              cursor: pointer;
              transition: 0.5s;
              &:hover {
                filter: brightness(1.1);
              }
            }
          }
          label {
            margin-top: 10px;
            margin-left: 12px;
            font-size: 14px;
            line-height: 19px;
            @media (max-width: 760px) {
              font-size: 12px;
              line-height: 1.2;
              margin-bottom: 2px;
            }
          }
          textarea {
            font-family: "Roboto", sans-serif;
            width: 100%;
            background-color: #efefef;
            border: 1px solid #cecece;
            border-radius: 20px;
            padding: 16px;
            font-size: 14px;
            max-width: 732px;
            height: 180px;
            @media (max-width: 760px) {
              margin-bottom: 4px;
            }
            &:focus {
              border: 1px solid #2cb5ff;
              outline: 0;
            }
          }
        }
      }
    }
    &-middle {
      margin-bottom: 24px;
      .tabs {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: 20px;
        @media (max-width: 1260px) {
          flex-wrap: wrap;
        }
        @media (max-width: 760px) {
          gap: 8px;
        }
      }

      .tab-button {
        background: #fff;
        border: 2px solid #2cb5ff;
        color: #3e3e3e;
        padding: 8px 18px;
        margin-right: 8px;
        border-radius: 8px;
        height: 50px;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        transition: background 0.2s, color 0.2s;
        width: 20%;
        min-width: 200px;
        box-sizing: border-box;

        @media (max-width: 760px) {
          min-width: unset;
          width: 48%;
          margin: 0;
          font-size: 13px;

          @media (max-width: 640px) {
            font-size: 12px;
          }
        }

        &.active,
        &:hover {
          background: #2cb5ff;
          color: #fff;
        }
      }

      .tab-content {
        display: none;

        .staff-title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 6px;
          span {
            font-weight: 400;
          }
          @media (max-width: 760px) {
            font-size: 14px;
            span {
              font-size: 14px;
            }
          }
        }

        .staff-desc {
          font-size: 18px;
          font-weight: 400;
          margin-top: 0;
          a {
            font-size: 18px;
            font-weight: 400;
            color: #3e3e3e;
            text-decoration: none;
            &:hover {
              color: #2cb5ff;
            }
          }
          @media (max-width: 760px) {
            font-size: 14px;
            a {
              font-size: 14px;
            }
          }
        }

        &.active {
          display: block;
          animation: fadeIn 0.25s;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .staff-list {
        display: flex;
        flex-wrap: wrap;
        gap: 28px 36px;
        margin-top: 22px;

        @media (max-width: 760px) {
          gap: 16px;
        }
      }

      .staff-card {
        width: 250px;
        height: auto;
        min-height: 464px;
        text-align: center;
        background: #f8fafd;
        border-radius: 18px;
        box-shadow: 0 2px 8px #0001;
        padding: 10px;
        margin-bottom: 20px;

        .staff-info-line {
          margin: 0;
          font-size: 13px;
          line-height: 1.5;
          @media (max-width: 760px) {
            font-size: 12px;
          }
        }

        img {
          width: 230px;
          height: 366px;
          object-fit: cover;
          border-radius: 12px;
          margin-bottom: 10px;
          background: #e3e6ea;
        }

        strong {
          font-size: 1.05em;
          display: block;
          margin-bottom: 4px;
          @media (max-width: 760px) {
            font-size: 14px;
          }
        }

        a {
          color: #2cb5ff;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }

        @media (max-width: 760px) {
          display: flex;
          flex-direction: column;
          width: 46%;
          height: auto;
          min-height: unset;
          margin-bottom: 0;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .contact_container-google-map {
      .title {
        font-size: 32px;
        line-height: 38px;
        font-weight: 400;
        color: #3e3e3e;
        margin: 0;
      }
      p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        color: #707070;
        margin: 0;
      }
      iframe {
        width: 100%;
        height: 452px;
        border: 1px solid #cecece !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.0666666667);
        border-radius: 20px;
        margin: 12px 0 3px 0;
      }
    }
  }
}

@media (max-width: 960px) {
  #contact {
    margin-top: 16px;
    .contact_container {
      margin-bottom: 35px;

      .contact_container-message-form {
        h2.title {
          text-align: left;
        }
        form {
          .form_contact_container {
            position: relative;
            flex-direction: column;
            .form_contact_container-short {
              width: 100%;
            }
            .form_contact_container-wide {
              margin-left: 0;
              width: 100%;
              margin-top: 16px;
              margin-bottom: 120px;
              textarea {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
