/* ==== LIGHTBOX ==== */
.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    width: 480px;
    box-sizing: border-box;
    .gallery-container-small {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100px;
        .gallery-item {
            margin-bottom: 6px;
            opacity: .85;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                &:hover {
                    filter: opacity(0.8)
                }
            }
        }
    }
    .gallery-container-big {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: 380px;
        .gallery-item {
            position: relative;
            margin-bottom: 6px;
            opacity: .85;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                &:hover {
                    filter: opacity(0.8)
                }
            }
            &::after {
                position: absolute;
                display: block;
                content: "";
                top: 0;
                left: 0;
                background: url("./../assets/img/labels/bestseller.svg");
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &::before {
                position: absolute;
                display: block;
                content: "";
                top: 10px;
                right: 10px;
                background: url("./../assets/img/logo/logo-promostars.png");
                height: 13px;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.promotion::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                background: url('./../assets/img/labels/promotion.svg');
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.sale::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                background: url('./../assets/img/labels/sale.svg');
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.big {
                position: relative;
                .left-bottom-size {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 53px;
                    height: 53px;
                    border-radius: 100%;
                    background-color: #0083bc;
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 28px;
                        margin: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.lightbox {
    position: fixed;
    display: none;
    background-color: #00000066;
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
    max-width: 40vw;
}
.lightbox-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
.lightbox-prev {
    position: absolute;
    color: #fff;
    padding: 12px;
    top: 45%;
    cursor: pointer;
    font-size: 0 !important;
    width: 35px;
    height: 60px;
    background: url(./../assets/icons/products_arrow_slider.svg);
    background-size: 35px 60px;
    background-repeat: none;
    transform: rotate(180deg);
    left: 0;
}
.lightbox-next {
    position: absolute;
    color: #fff;
    padding: 12px;
    top: 45%;
    cursor: pointer;
    font-size: 0 !important;
    width: 35px;
    height: 60px;
    background: url(./../assets/icons/products_arrow_slider.svg);
    background-size: 35px 60px;
    background-repeat: none;
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}

@media (max-width: 960px) {
    .gallery-container .gallery-container-small {
        flex-direction: row;
        .gallery-item {
            img {
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}
@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}
/* /==== LIGHTBOX ==== */