#login {
    margin-top: 37px;
    .login-container {
        width: 100%;
        height: auto;
        padding: 15px;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 285px;
        .login-fill-info {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            background-color: #2CB5FF;
            width: max-content;
            height: 35px;
            border-radius: 24px;
            padding: 0 16px 0 4px;
            box-sizing: border-box;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #FFFFFF;
                span {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 4px;
                    border-radius: 100%;
                    border: 2px solid #FFFFFF;
                    width: 28px;
                    height: 28px;
                    margin-right: 8px;
                    font-size: 24px;
                }
            }
        }
        .login-container-middle {
            padding: 0 17px;
            .h2title {
                font-size: 28px;
                line-height: 34px;
                font-weight: 400;
                color: #3E3E3E;
                margin-top: 4px;
            }
            form {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .login_input-slot {
                    display: flex;
                    flex-direction: column;
                    margin-right: 3%;
                    width: 45%;
                    &:last-child {
                        width: max-content;
                    }
                    label {
                        margin-bottom: 4px;
                        margin-left: 16px;
                        font-size: 16px;
                        line-height: 19px;
                        color: #3E3E3E;
                    }
                    input {
                        height: 40px;
                        box-sizing: border-box;
                        border: 1px solid #CECECE;
                        border-radius: 20px;
                        background: #EFEFEF;
                        padding-left: 16px;
                        &.button {
                            width: max-content;
                            margin-top: 23px;
                            padding: 0 16px;
                            background-color: #2CB5FF;
                            border: 1px solid #2CB5FF;
                            color: #FFFFFF;
                            font-size: 20px;
                            line-height: 24px;
                            cursor: pointer;
                            transition: 0.8s;
                            transition: 0.8s;
                            margin-right: -35px;
                            &:hover {
                                background-color: #1C2F82;
                                border: 1px solid #1C2F82;
                            }
                        }
                    }
                    .password_remember {
                        color: #2CB5FF;
                        text-align: right;
                        margin-top: 12px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .horizontal-login-line {
            display: none;
        }
        .login-container-bottom {
            padding: 0 17px 13px 17px;
            .login-text-btn-bottom-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .login-bottom-text-container {
                    margin-right: 24px;
                    p {
                        font-size: 16px;
                        line-height: 19px;
                        margin: 0;
                        font-weight: 400;
                        color: #3E3E3E;
                    }
                }
                .login-bottom-btn-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    height: 40px;
                    box-sizing: border-box;
                    background-color: #2CB5FF;
                    border: 1px solid #2CB5FF;
                    border-radius: 20px;
                    transition: 0.8s;
                    &:hover {
                        background-color: #1C2F82;
                        border: 1px solid #1C2F82;
                    }
                    .create-account-btn {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #login {
        margin-top: 16px;
        .login-container {
            padding: 10px;
            margin-bottom: 80px;
            .login-fill-info {
                display: none;
            }
            .login-container-middle {
                padding: 0;
                .h2title {
                    display: none;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .login_input-slot {
                        display: flex;
                        flex-direction: column;
                        margin-right: 0;
                        width: 70%;
                        label {
                            margin-top: 16px;
                        }
                        .password_remember {
                            color: #2CB5FF;
                            text-align: right;
                            margin-top: 12px;
                            text-align: center;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                        .button {
                            margin-right: 0 !important;
                        }
                    }
                }
            }
            .horizontal-login-line {
                display: block;
                height: 1px;
                background-color: #EFEFEF;
                width: 100%;
                margin: 10px 0;
            }
            .login-container-bottom {
                padding: 0;
                .login-text-btn-bottom-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .login-bottom-text-container {
                        margin-right: 0;
                        margin: 10px 0;
                        p {
                            font-size: 18px;
                            line-height: 20px;
                            margin: 0;
                            font-weight: 400;
                            color: #707070;
                            text-align: center;
                        }
                    }
                    .login-bottom-btn-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: max-content;
                        height: 40px;
                        box-sizing: border-box;
                        background-color: #FFFFFF;
                        border: 1px solid #2CB5FF;
                        border-radius: 20px;
                        transition: 0.8s;
                        margin-bottom: 8px;
                        &:hover {
                            background-color: #FFFFFF;
                            border: 1px solid #2CB5FF;
                        }
                        .create-account-btn {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 400;
                            color: #707070;
                            text-decoration: none;
                            text-transform: unset;
                            padding: 0 16px;
                        }
                    }
                }
            }
        }
    }
}