#offert {
    &.descriptions_offert_page {
        .offert_table_container {
            #tab-contents {
                border-bottom: 0;
                margin-bottom: 0;
            }
            .products-list-table {
                .products-list_container-slots {
                    .products-list_container-slot {
                        .product-title-img {
                            width: 180px;
                            max-width: 180px;
                            text-align: center;
                            overflow: hidden;
                            user-select: none;
                            margin: 20px 0;
                            height: auto;
                            #swiper {
                                margin-bottom: -20px;
                                .swiper-desc-product {
                                    margin-top: -20px;
                                    .swiper-button-prev {
                                        left: 8px;
                                        background: url(./../assets/icons/dark-gray-arrow-right.svg);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        width: 17px;
                                        height: 30px;
                                        transform: rotate(180deg);
                                        &::after {
                                            display: none;
                                        }
                                    }
                                    .swiper-button-next {
                                        right: 8px;
                                        background: url(./../assets/icons/dark-gray-arrow-right.svg);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        width: 17px;
                                        height: 30px;
                                        &::after {
                                            display: none;
                                        }
                                    }
                                    .swiper-slide {
                                        background-color: #FFFFFF;
                                        a {
                                            &.green-checked {
                                                &::after {
                                                    position: absolute;
                                                    content: "";
                                                    display: block;
                                                    bottom: calc(50% - 10px);
                                                    right: calc(50% - 10px);
                                                    background: url(./../assets/icons/cart_green_approve.svg);
                                                    width: 21px;
                                                    height: 21px;
                                                    box-sizing: border-box;
                                                    background-repeat: no-repeat;
                                                    background-size: contain;
                                                    cursor: pointer;
                                                    z-index: 1;
                                                }
                                            }
                                        }
                                        .desc-close-icon {
                                            display: none;
                                            position: absolute;
                                            top: 0;
                                            right: 40px;
                                            z-index: 20;
                                        }
                                        &:hover .desc-close-icon {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        .products-list-slot {
                            textarea {
                                font-family: 'Roboto', sans-serif;
                                border: 1px solid #707070;
                                background: #EFEFEF;;
                                border: 1px solid #707070;
                                border-radius: 20px;
                                margin: 20px 0;
                                padding: 15px;
                                font-size: 14px;
                                line-height: 17px;
                                &:focus {
                                    border: 1px solid #2CB5FF;
                                    outline: 0;
                                }
                                &.textarea-wide {
                                    min-width: 572px;
                                    max-width: 572px;
                                    min-height: 100px;
                                }
                                &.textarea-short {
                                    min-width: 356px;
                                    max-width: 356px;
                                    min-height: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #offert {
        &.descriptions_offert_page {
            .offert_table_container {
                .products-list-table {
                    overflow-x: scroll;
                }
            }
        }
    }
}
