#offert {
    margin-top: 40px;
    margin-bottom: 84px;
    .offert_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20px;
        box-shadow: 0px 3px 15px #00000033;
        .offert_table_container {
            margin-top: 33px;
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
            #tabs {
                list-style-type: none;
                margin-left: 27px;
                margin-right: 27px;
                li {
                    display: inline-block;
                    margin-bottom: 0;
                    width: 180px;
                    height: 40px;
                    background-color: #FFFFFF;
                    box-shadow: 0px -3px 4px #00000029;
                    border-radius: 20px 20px 0px 0px;
                  a {
                    display: block;
                    height: 100%;
                    padding: 10px;
                    text-align: center;
                    box-shadow: 0px -3px 4px #00000029;
                    border-radius: 20px 20px 0px 0px;
                    text-decoration: none;
                    color: #3E3E3E;
                  }
                  &:hover a,
                  &.active a {
                    background-color: #2CB5FF;
                    color: #FFFFFF;
                  }
                }
              }
              
              #tab-contents {
                border-bottom: 1px solid #ccc;
                background-color: #FFFFFF;
                .tab-contents {
                  display: none;
                  &.active {
                    display: block;
                    border-top: 5px solid #2CB5FF;
                  }
                  .products-list-table {
                    .products-list_container-slots {
                        width: 100%;
                        .products-list_container-header {
                            background-color: #CECECE;
                            height: 44px;
                            .products-list-slot {
                                text-align: center;
                                p {
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #3E3E3E;
                                    font-weight: 400;
                                }
                            }
                            .product-title-img {
                                position: relative;
                                width: 64px;
                                margin-left: 12px;
                                p {
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #3E3E3E;
                                    font-weight: 400;
                                }
                            }
                        }
                        & > .products-list_container-header + .products-list_container-slot {
                            border-top: 0;
                        }
                        .products-list_container-slot {
                            width: 100%;
                            &:nth-child(even) {
                                background-color: #EFEFEF;
                            }
                            &:nth-child(1) {
                                th {
                                    width: 300px;
                                }
                            }   
                            .product-title-img {
                                position: relative;
                                cursor: pointer;
                                &.green-checked {
                                    &::after {
                                        position: absolute;
                                        content: "";
                                        display: block;
                                        bottom: calc(50% - 10px);
                                        right: calc(50% - 10px);
                                        background: url(./../assets/icons/cart_green_approve.svg);
                                        width: 21px;
                                        height: 21px;
                                        box-sizing: border-box;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        cursor: pointer;
                                    }
                                }
                            }
                            .products-list-slot {
                                text-align: center;
                                p {
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                                &.quantity {
                                    input {
                                        width: 59px;
                                        height: 27px;
                                        text-align: center;
                                        &::-webkit-inner-spin-button,
                                        &::-webkit-outer-spin-button {  
                                            opacity: 1;
                                        }
                                    }
                                }
                            } 
                        }
                        .cart-clean-button-container {
                            border-top: 1px solid #3E3E3E;
                            .cart-clean-button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 221px;
                                height: 60px;
                                box-sizing: border-box;
                                border: 2px solid #2CB5FF;
                                border-radius: 30px;
                                margin: 24px;
                                text-decoration: none;
                                font-size: 20px;
                                color: #3E3E3E;
                                cursor: pointer;
                                transition: 0.6s;
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 8px;
                                }
                                &:hover {
                                    background-color: #2CB5FF;
                                    color: #FFFFFF;
                                    svg {
                                        path {
                                            fill: #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    }
                }
              }
        }
        .offert-search-btn-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .offert-searchbar-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0;
                #offertSearchQueryInput {
                    box-sizing: border-box;
                    width: 350px;
                    height: 36px;
                    border: 1px solid #CECECE;
                    border-radius: 20px;
                    padding-left: 16px;
                    background-color: #EFEFEF;
                    &:focus {
                        border: 1px solid #2CB5FF;
                        outline: 0;
                    }
                }
                #offertSearchQuerySubmit {
                    position: absolute;
                    top: -1px;
                    right: 0;
                    width: 36px;
                    height: 36px;
                    background-color: unset;
                    border: unset;
                    cursor: pointer;
                }
            }
            .offert-btn-container--add-own-product {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 228px;
                height: 40px;
                box-sizing: border-box;
                background-color: #2CB5FF;
                border-radius: 30px;
                .button {
                    color: #FFFFFF;
                    font-size: 18px;
                    line-height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    &::before {
                        content: '+';
                        font-size: 18px;
                        margin-right: 8px;
                    }
                }
            }
        }
        .offert-btn-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .offert-btn-container--back {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 143px;
                height: 60px;
                box-sizing: border-box;
                background-color: #FFFFFF;
                border: 2px solid #2CB5FF;
                border-radius: 30px;
                .back-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    line-height: 24px;
                    color: #3E3E3E;
                    text-decoration: none;
                    margin-left: -6px;
                    svg {
                        margin-right: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .offert-btn-container--next {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 143px;
                height: 60px;
                box-sizing: border-box;
                background-color: #2CB5FF;
                border-radius: 30px;
                .next-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-decoration: none;
                    margin-right: -6px;
                    svg {
                        transform: rotate(180deg);
                        margin-left: 10px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #offert {
        .offert_container {
            .offert_table_container {
                #tabs {
                    li {
                        width: 100%;
                      a {
                      }
                    }
                  }
                  #tab-contents {
                    .tab-contents {
                      &.active {
                      }
                      .products-list-table {
                        overflow-x: scroll;
                        .products-list_container-slots {
                            width: 100%;
                            .products-list_container-header {
                                & > div {
                                    width: max-content;
                                }
                            }
                            .products-list-slot {
                                padding: 0 8px;
                                p {
                                    white-space: pre;
                                }
                            }
                        }
                    }
                }
                }
            }
        }
        .offert-search-btn-container {
            flex-direction: column !important;
            .offert-searchbar-container {
                #offertSearchQueryInput {
                    margin-bottom: 10px;
                }
                #offertSearchQuerySubmit {

                }
            }
            .offert-btn-container--add-own-product {

            }
        }
        .offert-btn-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
