#products-catalog {
    margin-top: 17px;
    .products_catalog_container {
        width: 100%;
        height: auto;
        padding: 15px 15px 15px 23px;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 0;
        .products_view_filter {
            position: relative;
            top: -16px;
            right: 0;
            .product-view_filter-box {
                position: absolute;
                display: block;
                content: '';
                top: -6px;
                right: 44px;
                background: url('./../assets/icons/products_box.svg');
                height: 24px;
                width: 24px;
                background-size: cover;
                background-repeat: no-repeat;
                &:hover,
                &.active {
                    filter: invert(46%) sepia(95%) saturate(414%) hue-rotate(172deg) brightness(86%) contrast(106%);
                }
            }
            .product-view_filter-line {
                position: absolute;
                display: block;
                content: '';
                top: -10px;
                right: 34px;
                background-color: #797979;
                height: 32px;
                width: 1px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .product-view_filter-listing {
                position: absolute;
                display: block;
                content: '';
                top: -6px;
                right: 0;
                background: url('./../assets/icons/products_listing.svg');
                height: 24px;
                width: 24px;
                background-size: cover;
                background-repeat: no-repeat;
                &:hover,
                &.active {
                    filter: invert(46%) sepia(95%) saturate(414%) hue-rotate(172deg) brightness(86%) contrast(106%);
                }
            }
        }
        .filters_container {
            display: flex;
            flex-direction: row;
            height: 100%;
            .filters_column {
                width: 160px;
                margin-right: 36px;
                .filters-title {
                    font-size: 16px;
                    line-height: 21px;
                    font-weight: 400;
                    color: #707070;
                    margin-left: 15px;
                    &.price {
                        background-color: #FFFFFF;
                        box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.1019607843);
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 400;
                        color: #707070;
                        border-radius: 20px 20px 0 0;
                        cursor: pointer;
                        padding: 8px 12px;
                        width: 100%;
                        border: none;
                        text-align: left;
                        outline: none;
                        transition: 0.4s;
                        margin-bottom: 8px;
                        height: 36px;
                        margin-left: 0;
                        margin-top: 0;
                    }
                }
                .accordion {
                    position: relative;
                    background-color: #FFFFFF;
                    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.1019607843);
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 400;
                    color: #707070;
                    border-radius: 20px 20px 0 0;
                    cursor: pointer;
                    padding: 8px 12px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    transition: 0.4s;
                    margin-bottom: 8px;
                    height: 36px;
                    &.variants {
                        display: none;
                        &.show {
                            display: inline-flex;
                            & + .slot {
                                display: block;
                            }
                        }
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        top: 16px;
                        right: 10px;
                        transform: translateX(-50%) rotate(0);
                        background: url('./../assets/icons/arrow_down_filters.svg');
                        width: 20px;
                        height: 10px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        transition: 0.8s;
                    }
                    &.active::after {
                        transform: translateX(-50%) rotate(180deg);
                    }
                }

                .active {
                    background-color: #FFFFFF;
                }

                .accordion:hover {
                    color: #1C2F82;
                }

                .searchbar-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 8px;
                    #searchbar-input {
                        box-sizing: border-box;
                        width: 80%;
                        height: 36px;
                        border: 1px solid #CECECE;
                        border-radius: 20px;
                        padding-left: 16px;
                        background-color: #EFEFEF;
                        &:focus {
                            border: 1px solid #2CB5FF;
                            outline: 0;
                        }
                    }
                    #searchbar-submit {
                        position: absolute;
                        top: -1px;
                        right: 10%;
                        width: 36px;
                        height: 36px;
                        background-color: unset;
                        border: unset;
                        cursor: pointer;
                    }
                }
                
                .next-arrow-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 8px auto;
                    width: 32px;
                    height: 32px;
                    box-sizing: border-box;
                    background-color: #2CB5FF;
                    border-radius: 100%;
                    cursor: pointer;
                    transition: 0.8s;
                    &:hover {
                        background-color: #1C2F82;
                    }
                    .arrow {
                        display: flex;
                        background: url('./../assets/icons/white_chevron_left.svg') no-repeat;
                        background-size: contain;
                        width: 15px;
                        height: 15px;
                        transform: rotate(180deg) translateX(1px);
                        margin-right: 2px;
                    }
                }

                .slot {
                    padding: 0px 2px;
                    margin-top: -8px;
                    display: none;
                    background-color: rgb(255, 255, 255);
                    overflow: hidden;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 4px;
                    border-radius: 0px 0px 10px 10px;
                    &.text-slots {
                        margin-top: -26px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 21px;
                        font-weight: 400;
                        color: #707070;
                    }
                    ul {
                        padding-left: 0;
                        li {
                            user-select: none;
                            list-style: none;
                            a {
                                font-size: 16px;
                                line-height: 21px;
                                font-weight: 400;
                                color: #707070;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            label {
                                user-select: none;
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                    }
                    .filters-colors {
                        margin-bottom: 14px;
                        .color {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            color: #FFFFFF;
                            width: 24px;
                            height: 24px;
                            font-size: 12px;
                            line-height: 14px;
                            border-radius: 100%;
                            padding: 1px;
                            margin-right: 1px;
                            margin-top: 1px;
                            box-sizing: border-box;
                            cursor: pointer;
                            &.red {
                                background-color: #f01b1e;
                                border: 1px solid #f01b1e;
                            }
                            &.black {
                                background-color: #000000;
                                border: 1px solid #000000;
                            }
                            &.yellow {
                                background-color: #ffd500;
                                border: 1px solid #ffd500;
                            }
                            &.white {
                                background-color: #FFFFFF;
                                border: 1px solid #c8c8c8;
                            }
                            &.blue {
                                background-color: #007de1;
                                border: 1px solid #007de1;
                            }
                            &.green {
                                background-color: #019b45;
                                border: 1px solid #019b45;
                            }
                            &.orange {
                                background-color: #ff7b00;
                                border: 1px solid #ff7b00;
                            }
                            &.purple {
                                background-color: #b700d9;
                                border: 1px solid #b700d9;
                            }
                            &.pink {
                                background-color: #ff53a3;
                                border: 1px solid #ff53a3;
                            }
                            &.brown {
                                background-color: #804103;
                                border: 1px solid #804103;
                            }
                            &.beige {
                                background-color: #ffe8cb;
                                border: 1px solid #ffe8cb;
                            }
                            &.grey {
                                background-color: #a2a2a2;
                                border: 1px solid #a2a2a2;
                            }
                            &.silver {
                                background: linear-gradient(135deg, #FFFFFF 10%, #898989);
                                border: 1px solid #c8c8c8;
                            }
                            &.melange {
                                background: url('./../assets/icons/melange.svg');
                                background-repeat: no-repeat;
                                background-size: 25px 25px;
                                width: 25px;
                                height: 25px;
                            }
                            &.bright {
                                background: url('./../assets/icons/bright.svg');
                                background-repeat: no-repeat;
                                background-size: 25px 25px;
                                width: 25px;
                                height: 25px;
                            }
                            &.multicolor {
                                background: url('./../assets/icons/multicolor.png');
                                background-repeat: no-repeat;
                                background-size: 25px 25px;
                                width: 25px;
                                height: 25px;
                                border-radius: 100%;
                            }
                            &.transparent {
                                background: url('./../assets/icons/transparent.svg');
                                background-repeat: no-repeat;
                                background-size: 25px 25px;
                                width: 25px;
                                height: 25px;
                            }
                            &:hover,
                            &.active {
                                outline: 1px solid #2CB5FF;
                            }
                        }
                    }
                }
            }
            .filters_products {
                width: 90%;
                margin-top: 24px;
            }
        }
    }
}

.products-slot {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 3px 15px #00000033;
    border-radius: 20px;
    width: 49%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    &:nth-child(2n) {
        margin-right: 0;
    }
    .products-slot-top-container {
        display: flex;
        flex-direction: row;
        .products-slot-image {
            margin-left: 16px;
            margin-right: 16px;
            img {
                object-fit: contain;
            }
            a {
                img {
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            &.topseller::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                background: url('./../assets/img/labels/bestseller.svg');
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.new::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                background: url('./../assets/img/labels/new.svg');
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.promotion::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                background: url('./../assets/img/labels/promotion.svg');
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.sale::after {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 0;
                background: url('./../assets/img/labels/sale.svg');
                height: 90px;
                width: 90px;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .products-slot-desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            &.promostars::after {
                position: absolute;
                display: block;
                content: '';
                top: 10px;
                right: 10px;
                background: url('./../../assets/img/logo/logo-promostars.png');
                height: 13px;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.promostars::after {
                position: absolute;
                display: block;
                content: '';
                top: 10px;
                right: 10px;
                background: url('./../../assets/img/logo/logo-promostars.png');
                height: 13px;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            &.identity10::after {
                position: absolute;
                display: block;
                content: '';
                top: 10px;
                right: 10px;
                background: url('./../../assets/img/logo/logo-10-identity.jpg');
                height: 40px;
                width: 40px;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .products-slot-desc-top {
                .swiper-product-title {
                    font-family: Segoe UI, sans-serif;
                    font-size: 19px;
                    line-height: 19px;
                    font-weight: 600;
                    margin: 24px 0 10px 0;
                    a {
                        font-family: Segoe UI, sans-serif;
                        font-size: 19px;
                        line-height: 19px;
                        font-weight: 600;
                        margin: 24px 0 10px 0;
                        text-decoration: none;
                        color: #3E3E3E;
                        &:hover {
                            color: #2CB5FF;
                        }
                    }
                }
                .products-slot-index,
                .products-slot-grammage,
                .products-slot-composition {
                    p {
                        font-size: 12px;
                        line-height: 14px;
                        margin: 0;
                    }
                }
                .products-slot-price {
                    p {
                        display: inline-flex;
                        align-items: center;
                        font-size: 16px;
                        line-height: 19px;
                        margin: 6px 0;
                        .products-slot-login {
                            color: #2CB5FF;
                            text-decoration: none;
                            font-weight: 600;
                            margin-left: 2px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        img {
                            margin-left: 4px;
                        }
                    }
                }
                .products-slot-add-to-compare {
                    color: #3E3E3E;
                    text-decoration: none;
                    p {
                        position: relative;
                        font-size: 12px;
                        line-height: 14px;  
                        margin: 8px 0; 
                        padding-left: 24px;
                        cursor: pointer;
                        &::before {
                            position: absolute;
                            content: "";
                            display: block;
                            top: 0;
                            left: 4px;
                            background: url('./../assets/icons/compare_add.svg');
                            width: 12px;
                            height: 12px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
                .products-slot-add-to-favorite {
                    color: #3E3E3E;
                    text-decoration: none;
                    p {
                        position: relative;
                        font-size: 12px;
                        line-height: 14px;  
                        margin: 8px 0; 
                        padding-left: 24px;
                        cursor: pointer;
                        &::before {
                            position: absolute;
                            content: "";
                            display: block;
                            top: 0;
                            left: 4px;
                            background: url('./../assets/icons/favorite-black-heart.svg');
                            width: 12px;
                            height: 12px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
                .products-slot-colors {
                    display: inline-flex;
                    flex-wrap: wrap;
                    max-width: 90%;
                    .color {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                        line-height: 14px;
                        border-radius: 100%;
                        padding: 2px;
                        margin-right: 2px;
                        margin-top: 2px;
                        cursor: pointer;
                        &.color20 {
                            border: 1px solid #707070;
                        } 
                        &.color22 {
                            background-color: #00346d;
                            color: #FFFFFF;
                        } 
                        &.color26 {
                            background-color: #000000;
                            color: #FFFFFF;
                        } 
                        &.color30 {
                            background-color: #fa1821;
                            color: #FFFFFF;
                        } 
                        &.color34 {
                            background-color: #c8c8c6;
                        } 
                        &.color44 {
                            background-color: #0083bc;
                            color: #FFFFFF;
                        } 
                        &.color50 {
                            background-color: #5f6568;
                            color: #FFFFFF;
                        } 
                        &.color55 {
                            background-color: #4a664e;
                            color: #FFFFFF;
                        } 
                    }
                }
            }
            .products-slot-desc-bottom {
                display: flex;
                justify-content: center;
                transform: translate(-30%, 0%);
                &.active {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) rotate(180deg);
                }
                .products-slot-arrows-down {
                    cursor: pointer;
                }
            }
        }
    }
    .products-slot-bottom-container {
        display: none;
        margin: 20px;
        padding-bottom: 24px;
        &.show {
            display: flex;
        }
        .products-slot-bottom-left-desc {
            margin-right: 8px;
            ul {
                padding-left: 18px;
            }
        }
        .products-slot-bottom-right-desc {
            p {
                margin: 0;
            }
        }
    }
}

#products-catalog.list {
    .products_catalog_container {
        margin-bottom: 88px;
        .filters_container {
            .filters_column {
                .filters-title {
                    margin-top: 0;
                }
            }
            .products-list-table {
                width: 100%;
            }
        }
        .breadcrumbs_searchbar_container {
            display: inline-flex;
            align-items: center;
            margin-bottom: 16px;
            .products_list_searchbar {
                display: inline-flex;
                align-items: center;
                margin-left: 32px;
                .text {
                    p {
                        font-size: 16px;
                        line-height: 21px;
                        color: #707070;
                    }
                }
                .searchbar-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 24px;
                    margin-right: 24px;
                    #searchQueryInput {
                        box-sizing: border-box;
                        width: 188px;
                        height: 36px;
                        border: 1px solid #CECECE;
                        border-radius: 20px;
                        padding-left: 16px;
                        background-color: #EFEFEF;
                        &:focus {
                            border: 1px solid #2CB5FF;
                            outline: 0;
                        }
                    }
                    #searchQuerySubmit {
                        position: absolute;
                        top: -1px;
                        right: 0;
                        width: 36px;
                        height: 36px;
                        background-color: unset;
                        border: unset;
                        cursor: pointer;
                    }
                }
            }
        }
        .products-list_container-slots {
            width: 100%;
            .products-list_container-header {
                background-color: #CECECE;
                height: 44px;
                .products-list-slot {
                    text-align: center;
                    p {
                        font-size: 14px;
                        line-height: 17px;
                        color: #3E3E3E;
                    }
                }
                .product-title-img {
                    width: 64px;
                    margin-left: 12px;
                }
            }
            & > .products-list_container-header + .products-list_container-slot {
                border-top: 0;
            }
            .products-list_container-slot {
                width: 100%;
                &:nth-child(odd) {
                    background-color: #EFEFEF;
                }
                &:nth-child(1) {
                    td {
                        background-color: #FFFFFF;
                    }
                }
                .products-list_container-slot-img {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 64px;
                    margin-top: 11px;
                }    
                .products-list-slot {
                    text-align: center;
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    &.quantity {
                        input {
                            width: 59px;
                            height: 27px;
                            text-align: center;
                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {  
                                opacity: 1;
                            }
                        }
                    }
                } 
            }
            .cart-clean-button-container {
                border-top: 1px solid #3E3E3E;
                .cart-clean-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 221px;
                    height: 60px;
                    box-sizing: border-box;
                    border: 2px solid #2CB5FF;
                    border-radius: 30px;
                    margin: 24px;
                    text-decoration: none;
                    font-size: 20px;
                    color: #3E3E3E;
                    cursor: pointer;
                    transition: 0.6s;
                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }
                    &:hover {
                        background-color: #2CB5FF;
                        color: #FFFFFF;
                        svg {
                            path {
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1170px) {
    .products_catalog_container {
        .products-slot {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0px 3px 15px #00000033;
            border-radius: 20px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 4%;
        }
    }
}

@media (max-width: 960px) {
    #products-catalog {
        margin-top: 17px;
        .products_catalog_container {
            padding: 10px;
            .products-list-table {
                overflow-x: scroll;
                .products-list_container-slots {
                    width: 100%;
                    .products-list_container-header {
                        & > div {
                            width: max-content;
                        }
                    }
                    .products-list-slot {
                        padding: 0 8px;
                        p {
                            white-space: pre;
                        }
                    }
                }
            }
            .breadcrumbs_searchbar_container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .filters_container {
                flex-direction: column;
                .filter-show-btn {
                    display: inline-flex !important;
                    background-color: #2CB5FF;
                    justify-content: center;
                    align-items: center;
                    height: 32px;
                    width: 90px;
                    padding: 16px;
                    border-radius: 32px;
                    color: #FFFFFF;
                    margin-bottom: -8px;
                    margin-top: 4px;
                        .arrow {
                            display: flex;
                            background: url('./../assets/icons/white_chevron_left.svg') no-repeat;
                            background-size: contain;
                            width: 15px;
                            height: 15px;
                            transform: rotate(270deg) translate(3px);
                            margin-left: 8px;
                            transition: 0.6s;
                            &.rotate {
                                transform: rotate(90deg) translate(3px);
                            }
                        }
                }
                .filters_column {
                    display: none;
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 0;
                    &.active {
                        display: block;
                        margin-top: 22px;
                    }
                    .searchbar-container {
                        #searchbar-input {
                            width: 96%;
                        }
                        #searchbar-submit {
                            right: 2%;
                        }
                    }
                    .filters-title {
                        display: none;
                    }
                }
                .filters_products {
                    width: 100%;
                }
            }
        }
        .products-slot .products-slot-desc::after {
            display: none !important;
        }
        .products-slot .color {
            width: 30px !important;
            height: 30px !important;
            font-size: 14px !important;
        }
    }
    
    .products-slot {
        width: 100%;
        margin-right: 0;
    }
    body.products-list-view .products_view_filter {
        top: -110px !important;
    }
    .products-slot .products-slot-top-container .products-slot-image img {
        height: 100% !important;
    }
    .products-slot .products-slot-top-container .products-slot-desc .products-slot-desc-bottom {
        transform: translate(-50%, 0%);
    }
    #products-catalog.list .products_catalog_container .breadcrumbs_searchbar_container {
        align-items: flex-start !important;
    }
    #products-catalog.list .products_catalog_container .breadcrumbs_searchbar_container .products_list_searchbar {
        margin-left: 6px !important;
    }
}