#products_cart {
    #marking_table {
        position: relative;
        z-index: 999;    
    }
    &.show_marking_table::before {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        content: '';
        background-color: #00000066;
        width: 100vw;
        height: 100vh;
        z-index: 999;
    }
    .marking_table_container {
        display: none;
        &.show {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 50vw;
            transform: translateX(-50vw);
            z-index: 9999999999;
            width: 1170px;
        }
        margin-bottom: 80px;
        .close-icon {
            position: absolute;
            top: -10px;
            right: 10px;
            display: block;
            content: "";
            width: 16px;
            height: 16px;
            background: url(./../assets/icons/close_discount_modal.svg);
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 999;
        }
        .marking_table_container-slot {
            position: relative;
            width: 100%;
            height: auto;
            padding: 15px 0;
            box-shadow: 0px 3px 15px #00000033;
            border-radius: 20px 20px 0px 0px;
            background-color: #FFFFFF;
            margin-top: -20px;
            z-index: 1;
            &.projects-name {
                border-radius: 0 0 20px 20px;
                padding-bottom: 40px;
            }
            &.marking-container {
                display: none;
            }
            &.marking-container.show {
                display: flex;
                flex-direction: column;
            }
            &:first-of-type {
                margin-top: 0;
            }
            .number_title_container {
                display: flex;
                align-items: center;
                margin-bottom: 43px;
                .number {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    width: 46px;
                    height: 46px;
                    border-radius: 100%;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    background-color: #2CB5FF;
                    margin: 0 0 0 16px;
                }
                .title {
                    display: inline-flex;
                    margin-left: 11px;
                    font-size: 28px;
                    line-height: 34px;
                    margin: 0 0 0 16px;
                }
            }
            .data_container {
                display: flex;
                flex-direction: row;
                padding: 0 30px;
                .data_left {
                    img {
                        object-fit: contain;
                        margin: 0 15px;
                    }
                }
                .data_right {
                    form {
                        display: flex;
                        flex-direction: column;
                        .form-row {
                            display: flex;
                            flex-direction: row;
                            .form-slot {
                                display: flex;
                                flex-direction: column;
                                &:first-child,
                                &:last-child {
                                    width: 40%;
                                }
                                &.textarea {
                                    width: 100%;
                                }
                                label {
                                    font-size: 16px;
                                    line-height: 19px;
                                    margin: 0 0 0 16px;
                                }
                                input,
                                select {
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 40px;
                                    border-radius: 20px;
                                    font-size: 16px;
                                    background-color: #EFEFEF;
                                    border: 1px solid #CECECE;
                                    margin-bottom: 20px;
                                    padding-left: 16px;
                                    &:focus {
                                        outline: 1px solid #2CB5FF;
                                    }
                                }
                                textarea {
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 60px;
                                    border-radius: 20px;
                                    font-size: 16px;
                                    background-color: #EFEFEF;
                                    border: 1px solid #CECECE;
                                    margin-bottom: 20px;
                                    padding-left: 16px;
                                    &:focus {
                                        outline: 1px solid #2CB5FF;
                                    }
                                }
                            }
                        }
                    }
                    .marking_table-button-right-gray {
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: max-content;
                        height: 30px;
                        box-sizing: border-box;
                        background-color: #707070;
                        border: 1px solid #707070;
                        border-radius: 30px;
                        transition: 0.8s;
                        cursor: pointer;
                        &:hover {
                            background-color: #FFFFFF;
                            a {
                                color: #707070;
                            }
                        }
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 400;
                            color: #FFFFFF;
                            text-decoration: none;
                            padding: 0 16px;
                        }
                    }
                }
            }
            .cart_description {
                margin-bottom: 32px;
                p {
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    margin: 0 0 0 41px;
                }
            }
            .data_container {
                form {
                    display: flex;
                    flex-direction: row;
                    .form-slot {
                        display: flex;
                        flex-direction: column;
                        width: 25%;
                        margin-left: 30px;
                        &.last {
                            width: 200px;
                        }
                        label {
                            font-size: 16px;
                            line-height: 19px;
                            margin: 0 0 0 16px;
                        }
                        input {
                            box-sizing: border-box;
                            width: 100%;
                            height: 40px;
                            border-radius: 20px;
                            font-size: 16px;
                            background-color: #EFEFEF;
                            border: 1px solid #CECECE;
                            margin-bottom: 20px;
                            padding-left: 16px;
                            &:focus {
                                outline: 1px solid #2CB5FF;
                            }
                        }
                    }
                }
            }
            .cart_square_container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 52px;
                .cart_square-slot {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 180px;
                    padding: 30px 15px;
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
                    border-radius: 20px;
                    background-color: #FFFFFF;
                    width: 25%;
                    border: 1px solid #CECECE;
                    cursor: pointer;
                    &.checked,
                    &:hover {
                        border: 3px solid #707070;
                    }
                    &.create {
                        background-color: #2CB5FF;
                        .text-top {
                            color: #FFFFFF;
                        }
                    }
                    &.send {
                        background-color: #5BFFB8;
                    }
                    &.load {
                        background-color: #707070;
                        .text-top {
                            color: #FFFFFF;
                        }
                    }
                    .text-top,
                    .text-bottom {
                        font-size: 24px;
                        line-height: 29px;
                        text-align: center;
                        color: #707070;
                        margin: 0;
                    }
                    .text-bottom {
                        margin-top: 16px;
                    }
                    img {
                        margin: 16px 0;
                    }
                }
            }
            .marking_table-buttons {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-right: 30px;
                .marking_table-button-right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    height: 50px;
                    box-sizing: border-box;
                    background-color: #2CB5FF;
                    border: 1px solid #2CB5FF;
                    border-radius: 30px;
                    transition: 0.8s;
                    cursor: pointer;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #products_cart {
        .marking_table_container {
            display: none;
            &.show {
                width: 100%;
            }
            margin-bottom: 67px;
            .marking_table_container-slot {
                .cart_square_container {
                    flex-direction: column;
                    .cart_square-slot {
                        width: 95%;
                        margin-bottom: 16px;
                    }
                }
                .data_container {
                    padding: 0 10px;
                    flex-direction: column;
                    .data_left {
                        display: flex;
                        justify-content: center;
                    }
                    .data_right {
                        form {
                            .form-row {
                                flex-direction: column;
                                .form-slot {
                                    width: 90% !important;
                                    margin-left: 10px;
                                }
                            }
                        }
                        .marking_table-button-right-gray {
                            top: 260px;
                        }
                    }
                }
            }
        }
    }
}

