@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#nav .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#nav .top-nav .logo-left-container {
  display: flex;
}
#nav .top-nav .searchbar-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .top-nav .searchbar-right-container .flag-lang-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .top-nav .searchbar-right-container .flag-lang-container a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  color: #707070;
  height: 36px;
  width: auto;
}
#nav .top-nav .searchbar-right-container .searchbar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}
#nav .top-nav .searchbar-right-container .searchbar-container #searchQueryInput {
  box-sizing: border-box;
  width: 235px;
  height: 36px;
  border: 1px solid #707070;
  border-radius: 20px;
  padding-left: 16px;
  background-color: #EFEFEF;
}
#nav .top-nav .searchbar-right-container .searchbar-container #searchQueryInput:focus {
  outline: 1px solid #2CB5FF;
}
#nav .top-nav .searchbar-right-container .searchbar-container #searchQuerySubmit {
  position: absolute;
  top: -1px;
  right: 0;
  width: 36px;
  height: 36px;
  background-color: unset;
  border: unset;
  cursor: pointer;
}
#nav .top-nav .searchbar-right-container .logo-text-header-container a.logo-text-header-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 24px;
}
#nav .top-nav .searchbar-right-container .logo-text-header-container a.logo-text-header-link .header-icon img {
  height: 30px;
  width: auto;
}
#nav .top-nav .searchbar-right-container .logo-text-header-container a.logo-text-header-link .header-icon-text p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #707070;
}
#nav .top-nav .searchbar-right-container .logo-text-header-container:hover a.logo-text-header-link .header-icon img {
  filter: invert(46%) sepia(95%) saturate(414%) hue-rotate(172deg) brightness(86%) contrast(106%);
}
#nav .top-nav .searchbar-right-container .logo-text-header-container:hover a.logo-text-header-link .header-icon-text p {
  color: #2CB5FF;
  text-decoration: underline;
}
#nav .bottom-nav {
  display: flex;
  background: linear-gradient(90deg, #1C2F82, #2E81E1);
  margin-left: calc((100vw - 1200px) / 2 * -1);
  width: 100vw;
  height: 48px;
}
#nav .bottom-nav .bottom-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links {
  color: #FFFFFF;
  list-style: none;
  padding: 14px 12px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links .bottom-nav-sublist {
  position: relative;
  z-index: 99999;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links .bottom-nav-sublist ul.sublist-items {
  display: none;
  position: absolute;
  top: 14px;
  left: -12px;
  background: linear-gradient(0deg, #1C2F82 1%, #2CB5FF 100%);
  flex-direction: column;
  list-style: none;
  z-index: 99;
  padding: 0;
  border-radius: 0 10px 10px 10px;
  padding: 8px 0;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links .bottom-nav-sublist ul.sublist-items li.sublist-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  min-width: 260px;
  text-transform: uppercase;
  padding-left: 56px;
  height: 42px;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links .bottom-nav-sublist ul.sublist-items li.sublist-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links .bottom-nav-sublist ul.sublist-items li.sublist-item a:hover {
  color: #1C2F82;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links .bottom-nav-sublist ul.sublist-items li.sublist-item::before {
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 12px;
  background: url("./../assets/icons/t-shirts.svg");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links:hover {
  background-color: #2CB5FF;
  border-radius: 10px 10px 0 0;
}
#nav .bottom-nav .bottom-nav-container .left-bottom-nav ul.bottom-nav-elements-container li.bottom-nav-links:hover ul.sublist-items {
  display: flex;
}
#nav .bottom-nav .bottom-nav-container .right-bottom-nav {
  display: flex;
  flex-direction: row;
}
#nav .bottom-nav .bottom-nav-container .right-bottom-nav ul.right-bottom-nav-elements-container {
  display: flex;
  padding: 0;
  margin: 0;
}
#nav .bottom-nav .bottom-nav-container .right-bottom-nav ul.right-bottom-nav-elements-container .right-nav-links {
  color: #FFFFFF;
  padding: 14px 12px;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  list-style: none;
}
#nav .bottom-nav .bottom-nav-container .right-bottom-nav ul.right-bottom-nav-elements-container .right-nav-links:hover {
  background-color: #2CB5FF;
  border-radius: 10px;
}

#swiper .swiper {
  position: relative;
  left: calc((100vw - 1200px) / 2 * -1);
  width: 100vw;
  height: 420px;
}
#swiper .swiper .swiper-slide img {
  width: 100vw;
}
#swiper .swiper .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: calc((100vw - 1200px) / 2);
}
#swiper .swiper .swiper-button-prev::after {
  background: url("./../assets/icons/swiper_arrow.svg");
  height: 46px;
  width: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
}
#swiper .swiper .swiper-button-next {
  position: absolute;
  top: 50%;
  right: calc((100vw - 1200px) / 2);
}
#swiper .swiper .swiper-button-next::after {
  background: url("./../assets/icons/swiper_arrow.svg");
  transform: rotate(180deg);
  height: 46px;
  width: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
}
#swiper .swiper .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
}
#swiper .swiper .swiper-pagination .swiper-pagination-bullet {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid #707070;
  background: #FFFFFF;
  opacity: 1;
}
#swiper .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #2CB5FF;
  border: 2px solid #2CB5FF;
}

.swiper-products {
  position: relative;
  width: 100%;
  height: 420px;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  overflow: hidden;
}
.swiper-products .swiper-slide {
  width: 46%;
  margin-right: 1%;
  margin-left: 3%;
}
.swiper-products .swiper-slide:nth-child(2) {
  margin-left: 1%;
  margin-right: 3%;
}
.swiper-products .swiper-slide .product-swiper-container {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.swiper-products .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 8px;
}
.swiper-products .swiper-button-prev::after {
  background: url("./../assets/icons/dark-gray-arrow-right.svg");
  height: 46px;
  width: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
  transform: rotate(180deg);
}
.swiper-products .swiper-button-next {
  position: absolute;
  top: 50%;
  right: 8px;
}
.swiper-products .swiper-button-next::after {
  background: url("./../assets/icons/dark-gray-arrow-right.svg");
  height: 46px;
  width: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0;
}
.swiper-products .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
}
.swiper-products .swiper-pagination .swiper-pagination-bullet {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid #707070;
  background: #FFFFFF;
  opacity: 1;
}
.swiper-products .swiper-pagination .swiper-pagination-bullet-active {
  background: #2CB5FF;
  border: 2px solid #2CB5FF;
}

/* ========== NEWS SECTION ========== */
.photo-text-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 327px;
}
.photo-text-container .left-photo-container img {
  width: 400px;
  height: 297px;
  -o-object-fit: contain;
     object-fit: contain;
}
.photo-text-container .right-text-container {
  padding-left: 24px;
  border-left: 1px solid #707070;
  margin: auto 24px;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.photo-text-container .right-text-container h1.text-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;
}
.photo-text-container .right-text-container .text-author-data {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  color: #707070;
}
.photo-text-container .right-text-container .text-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}
.photo-text-container .right-text-container .text-desc + ul {
  padding-left: 0;
}
.photo-text-container .right-text-container .text-desc + ul li {
  list-style: none;
}
.photo-text-container .right-text-container .text-desc + ul li::before {
  content: "·";
  margin-right: 8px;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 1200px;
  margin: 0 auto;
  color: #3E3E3E;
}

body.menu-hover::after {
  position: absolute;
  background: rgba(0, 0, 0, 0.6784313725);
  content: "";
  display: block;
  top: 108px;
  left: calc((100vw - 1200px) / 2 * -1);
  width: 100vw;
  height: 100%;
  z-index: 999;
}

section {
  margin-bottom: 36px;
}
section h1.title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 300;
  color: #707070;
  margin-bottom: 12px;
}/*# sourceMappingURL=main.css.map */