@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'reset';
@import 'nav';
@import 'mobile-nav';
@import './main_layout/swiper_main_layout';
@import './main_layout/news_section_main_layout';
@import './main_layout/bestseller_section_main_layout';
@import './main_layout/about_company_main_layout';
@import './main_layout/hero_image_main_layout';
@import './main_layout/newsletter_main_layout';
@import 'article';
@import './breadcrumbs/breadcrumbs';
@import './breadcrumbs/color_breadcrumbs';
@import './breadcrumbs/blue_white_breadcrumbs';
@import 'login';
@import 'contact';
@import 'products-catalog';
@import 'pagination';
@import 'products_card';
@import 'products_marking_table';
@import 'products_marking_projects';
@import 'lightbox';
@import 'offerts';
@import 'offert_page_products';
@import 'offert_page_branding';
@import 'offert_page_set_prices';
@import 'orders';
@import 'news';
@import 'clients_panel';
@import './register/register';
@import './register/register_full';
@import './register/register_retail';
@import './register/register_success';
@import './register/remind_password';
@import './profile/your_profile';
@import './profile/company_data';
@import './profile/_addresses_employees';
@import './cart/cart';
@import './cart/cart_delivery_payment';
@import './cart/cart_summary';
@import './order_preview';
@import 'footer';

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 1170px;
    margin: 0 auto;
    color: #3E3E3E;
    .menu-hover.active {
        position: absolute;
        background: #000000ad;
        content: '';
        display: block !important;
        top: 108px;
        left: calc(((100vw - 1170px)/2)*(-1));
        width: 100vw;
        height: 100%;
        z-index: 9999;
    }
    .messenger {
        position: fixed;
        bottom: 16px;
        right: 24px;
        z-index: 99;
        .messenger-chat-icon {
            display: block;
            background: url('./../assets/icons/chat.svg');
            width: 80px;
            height: 88px;
            background-repeat: no-repeat;
            background-size: contain;
            color: #3E3E3E;
            text-decoration: none;
            cursor: pointer;
            &::after {
                position: relative;
                content: "Masz pytanie? Napisz do nas";
                font-size: 12px;
                line-height: 14px;
                margin: 0;
                font-weight: 600;
                left: 0;
                bottom: -64px;
                text-shadow: 0px 0px 4px #FFFFFF;
                background: #FFFFFF;
                display: block;
                color: #707070;
                text-align: center;
                border-radius: 5px;
                padding: 2px;
                width: 82px;
            }
        }
        .messenger-x-icon {
            position: relative;
            content: "";
            display: block;
            top: -92px;
            right: -62px;
            background: url('./../assets/icons/close.svg');
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }
}

section {
    margin-bottom: 37px;
    h1.title {
        font-size: 36px;
        line-height: 43px;
        font-weight: 300;
        color: #707070;
        margin-bottom: 10px;
        margin-top: 0;
    }
}
#news-layout {
    footer {
        margin-top: 80px;
    }
}

@media (max-width: 1170px) {
    body {
        width: 100%;
        section:not(#swiper) {
            margin-left: 10px;
            margin-right: 10px;
        }
        .menu-hover.active {
            left: 0;
        }
    }
}

@media (max-width: 960px) {
    body {
        margin-bottom: 62px;
        .menu-hover.active {
            position: absolute;
            background: #000000ad;
            content: '';
            display: block !important;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            z-index: 999;
        }
        .messenger {
            display: none;
        }
        section {
            margin-bottom: 19px;
            h1.title {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 4px;
            }
        }
    }
}