#register_full {
    margin-top: 45px;
    .register_full_container {
        width: 100%;
        height: auto;
        padding: 30px;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 100px;
        .title {
            font-size: 36px;
            line-height: 43px;
            font-weight: 400;
            color: #3E3E3E;
            margin-bottom: 0;
        }
        .subtitle {
            font-size: 28px;
            line-height: 34px;
            font-weight: 400;
            color: #3E3E3E;
            margin-top: 0;
            margin-bottom: 22px;
        }
        .input-container-big {
            display: flex;
            flex-direction: row;
            .input-container {
                &.left,
                &.right {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .input-slot {
                        width: 95%;
                        margin-top: 20px;
                        &.row {
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
            }
        }
        .input-container {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            .input-slot {
                display: flex;
                flex-direction: column;
                width: 33%;
                margin-right: 2%;
                label {
                    margin-top: 0px;
                    margin-left: 12px;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    font-family: 'Roboto', sans-serif;
                    background-color: #EFEFEF;
                    border: 1px solid #CECECE;
                    border-radius: 20px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 400;
                    padding-left: 16px;
                    padding-right: 16px;
                    &:focus {
                        border: 1px solid #2CB5FF;
                        outline: 0;
                    }
                }
            }
        }
        .save-btn-container {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .save-btn {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                height: 60px;
                box-sizing: border-box;
                background-color: #2CB5FF;
                border: 1px solid #2CB5FF;
                padding: 8px 16px;
                border-radius: 30px;
                transition: 0.8s;
                margin-left: 20px;
                margin-right: 20px;
                cursor: pointer;
                &:hover {
                    background-color: #FFFFFF;
                    a {
                        color: #2CB5FF;
                    }
                }
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #register_full {
        margin-top: 16px;
        .register_full_container {
            padding: 10px;
            margin-bottom: 67px;
            .subtitle {
                font-size: 22px;
                line-height: 27px;
                font-weight: 400;
                margin-bottom: 18px;
            }
            .input-container-big {
                flex-direction: column;
                .input-container {
                    &.left,
                    &.right {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .input-slot {
                            width: 100%;
                            margin-top: 0px;
                            &.row {
                                flex-direction: column;
                                .slot {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }
            .input-container {
                flex-direction: column;
                margin-bottom: 24px;
                .input-slot {
                    width: 100%;
                    margin-right: 0;
                    label {
                        margin-top: 12px;
                    }
                }
            }
            .save-btn-container {
                display: flex;
                flex-direction: column;
                .save-btn {
                    height: 40px;
                    margin-top: 16px;
                }
            }
        }
    }
}