#register_success {
    margin-top: 45px;
    .register_success_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        min-height: 440px;
        padding: 30px;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 100px;
        background-color: #FFFFFF;
        .title {
            font-size: 36px;
            line-height: 43px;
            font-weight: 400;
            color: #707070;
            margin: 0;
            text-align: center;
            background-color: #FFFFFF;
        }
        .desc {
            font-size: 18px;
            line-height: 22px;
            font-weight: 400;
            color: #707070;
            margin: 10px 0;
            text-align: center;
        }
        .blue_btn_container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .blue_btn.success {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                height: 50px;
                box-sizing: border-box;
                background-color: #2CB5FF;
                border: 1px solid #2CB5FF;
                padding: 8px 16px;
                border-radius: 30px;
                transition: 0.8s;
                text-align: center;
                cursor: pointer;
                &:hover {
                    filter: brightness(1.1);
                }
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #register_success {
        margin-top: 16px;
        .register_success_container {
            padding: 12px 0 20px 0;
            justify-content: flex-start;
            min-height: auto;
            margin-bottom: 80px;
            .title {
                font-size: 22px;
                line-height: 27px;
                font-weight: 500;
                margin-bottom: 8px;
                color: #3E3E3E;
                width: 80%;
            }
            .desc {
                font-size: 12px;
                line-height: 14px;
                font-weight: 500;
                margin: 0;
                color: #3E3E3E;
                width: 80%;
            }
            .blue_btn_container {
                margin-top: 10px;
                height: 39px !important;
                .blue_btn {
                    height: 39px !important;
                    padding: 0 16px !important;
                }
            }
        }
    }
}