#remind_password {
    margin-top: 40px;
    margin-bottom: 84px;
    .remind_password_container {
        width: 100%;
        height: auto;
        padding: 30px 27px 21px 30px;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 223px;
        .subtitle {
            margin: 0;
            font-size: 28px;
            line-height: 34px;
            color: #3E3E3E;
            font-weight: 400;
            margin-bottom: 40px;
        }
        .desc {
            font-size: 18px;
            line-height: 22px;
            color: #707070;
            text-align: center;
        }
        .input-slot {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 30%;
            margin: 30px auto;
            label {
                margin-top: 0px;
                margin-left: 12px;
                font-size: 16px;
                line-height: 19px;
            }
            input {
                font-family: 'Roboto', sans-serif;
                background-color: #EFEFEF;
                border: 1px solid #CECECE;
                border-radius: 20px;
                height: 40px;
                font-size: 16px;
                font-weight: 400;
                padding-left: 16px;
                padding-right: 16px;
                &:focus {
                    border: 1px solid #2CB5FF;
                    outline: 0;
                }
            }
        }
        .remind_btn_container {
            display: flex;
            justify-content: flex-end;
            .remind_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                height: 60px;
                box-sizing: border-box;
                background-color: #2CB5FF;
                border: 1px solid #2CB5FF;
                border-radius: 30px;
                transition: 0.8s;
                padding: 8px 24px;
                cursor: pointer;
                &:hover {
                    background-color: #FFFFFF;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 0;
                    &:hover {
                        color: #2CB5FF;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #remind_password {
        margin-top: 16px;
        margin-bottom: 80px;
        .remind_password_container {
            padding: 10px;
            margin-bottom: 80px;
            .subtitle {
                margin: 0;
                font-size: 22px;
                line-height: 28px;
                color: #3E3E3E;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .input-slot {
                width: 100%;
                margin: 30px auto;
            }
            .remind_btn_container {
                justify-content: center;
                .remind_btn {
                    margin-bottom: 16px;
                    height: 40px;
                }
            }
        }
    }
}