#cart_delivery_payment {
    margin-top: 37px;
    .cart_delivery_payment_container {
        margin-bottom: 80px;
        .cart_delivery_payment_container-slot {
            position: relative;
            width: 100%;
            height: auto;
            padding: 15px 0;
            box-shadow: 0px 3px 15px #00000033;
            border-radius: 20px 20px 0px 0px;
            background-color: #FFFFFF;
            margin-top: -20px;
            z-index: 1;
            &:first-of-type {
                margin-top: 0;
            }
            .number_title_container {
                display: flex;
                align-items: center;
                margin-bottom: 43px;
                .number {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    width: 46px;
                    height: 46px;
                    border-radius: 100%;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    background-color: #2CB5FF;
                    margin: 0 0 0 16px;
                }
                .title {
                    display: inline-flex;
                    margin-left: 11px;
                    font-size: 28px;
                    line-height: 34px;
                    margin: 0 0 0 16px;
                }
                .desc {
                    font-size: 20px;
                    line-height: 24px;
                    color: #707070;
                    margin-left: 14px;
                }
            }
            .cart_description {
                margin-bottom: 32px;
                p {
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    margin: 0 0 0 41px;
                }
            }
            .cart_data {
                padding: 0 30px 30px 30px;
                .cart_data_container {
                    form {
                        display: flex;
                        flex-direction: row;
                        .form-slot {
                            display: flex;
                            flex-direction: column;
                            width: 32%;
                            margin-left: 3%;
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                            label {
                                font-size: 16px;
                                line-height: 19px;
                                margin: 0 0 0 16px;
                            }
                            input {
                                box-sizing: border-box;
                                width: 100%;
                                height: 40px;
                                border-radius: 20px;
                                font-size: 16px;
                                background-color: #EFEFEF;
                                border: 1px solid #CECECE;
                                margin-bottom: 20px;
                                padding-left: 16px;
                                &:focus {
                                    outline: 1px solid #2CB5FF;
                                }
                            }
                            textarea {
                                box-sizing: border-box;
                                width: 100%;
                                height: auto;
                                border-radius: 20px;
                                font-size: 16px;
                                background-color: #EFEFEF;
                                border: 1px solid #CECECE;
                                padding: 16px;
                                margin-bottom: 56px;
                                &:focus {
                                    outline: 1px solid #2CB5FF;
                                }
                            }
                        }
                    }
                }
            }
            .cart_square_container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 160px;
                &.payment-method {
                    margin-bottom: 80px;
                }
                .cart_square-slot {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 248px;
                    padding: 30px 15px;
                    box-shadow: 0px 3px 15px #00000033;
                    border-radius: 20px;
                    background-color: #FFFFFF;
                    width: 25%;
                    border: 1px solid #CECECE;
                    cursor: pointer;
                    &.checked {
                        border: 3px solid #707070;
                    }
                    .text-top {
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 0;
                    }
                    img {
                        margin: 16px 0;
                    }
                    .text-bottom {
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                        margin: 0;
                        span {
                            font-size: 14px;
                        }
                        &.small {
                            font-size: 16px;
                            line-height: 21px;
                        }
                        &.with-image {
                            position: relative;
                            display: inline-flex;
                            margin: 24px;
                            margin-left: 48px;
                            &::before {
                                position: absolute;
                                content: '';
                                display: block;
                                width: 30px;
                                height: 30px;
                                top: -2px;
                                left: -36px;
                                background: url('./../assets/icons/home_icon_gray.png');
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
            .courier_address_container {
                display: none;
                &.active {
                    display: flex;
                    flex-direction: column;
                    margin: -80px 30px 30px 30px;
                    .title {
                        display: flex;
                        justify-content: center;
                        margin-left: 15px;
                    }
                    .courier_address_container-main {
                        display: flex;
                        flex-direction: row;
                            .form-slot {
                                display: flex;
                                flex-direction: column;
                                width: 50%;
                                margin: 30px;
                                label {
                                    font-size: 16px;
                                    line-height: 19px;
                                    margin: 0 0 0 16px;
                                }
                                input {
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 40px;
                                    border-radius: 20px;
                                    font-size: 16px;
                                    background-color: #EFEFEF;
                                    border: 1px solid #CECECE;
                                    margin-bottom: 20px;
                                    padding-left: 16px;
                                    &:focus {
                                        outline: 1px solid #2CB5FF;
                                    }
                                }
                            }
                    }
                }
            }
            form {
                margin: 15px;
                .cart_radios {
                    margin-bottom: 8px;
                    label {
                        font-size: 16px;
                        line-height: 19px;
                        color: #3E3E3E;
                    }
                }
            }
            .cart_delivery_payment-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 5px 15px;
                .cart_delivery_payment-button-left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 259px;
                    height: 60px;
                    box-sizing: border-box;
                    background-color: #2CB5FF;
                    border: 1px solid #2CB5FF;
                    border-radius: 30px;
                    transition: 0.8s;
                    cursor: pointer;
                    a {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 16px;
                        svg {
                            width: 20px;
                            height: 20px;
                            margin-right: 4px;
                            margin-bottom: -3px;
                            path {
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
                .cart_delivery_payment-button-right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 151px;
                    height: 60px;
                    box-sizing: border-box;
                    background-color: #CECECE;
                    border: 1px solid #CECECE;
                    border-radius: 30px;
                    transition: 0.8s;
                    cursor: pointer;
                    &.active {
                        background-color: #2CB5FF;
                        border: 1px solid #2CB5FF;
                    }
                    a {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 16px;
                        svg {
                            width: 20px;
                            height: 20px;
                            margin-left: 4px;
                            margin-bottom: -3px;
                            transform: rotate(180deg);
                            path {
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}