#cart {
    margin-top: 37px;
    .cart_container {
        width: 100%;
        height: auto;
        padding: 0 0 15px 0;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 80px;
        .cart_items_container {
            display: flex;
            flex-direction: row;
            .cart_items_container-left {
                display: flex;
                flex-direction: column;
                .cart_items_container-slots {
                    display: flex;
                    flex-direction: column;
                    .cart_items_container-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: #CECECE;
                        height: 55px;
                        .product-title-img,
                        .product-size,
                        .product-quantity,
                        .product-price,
                        .product-availability,
                        .product-value,
                        .product-delete {
                            width: 80px;
                            text-align: center;
                            p {
                                font-size: 16px;
                                line-height: 19px;
                                color: #3E3E3E;
                            }
                        }
                        .product-title-img {
                            width: 206px;
                        }
                    }
                    & > .cart_items_container-header + .cart_items_container-slot {
                        border-top: 0;
                    }
                    .cart_items_container-slot {
                        display: flex;
                        flex-direction: row;
                        border-top: 1px solid #3E3E3E;
                        width: 686px;
                        overflow: hidden;
                        & > p.empty-cart-info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            width: 100%;
                            height: 360px;
                            font-size: 16px;
                            line-height: 19px;
                        }
                        .cart_items_container-slot-left {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .cart_items_container-slot-img {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width: 206px;
                                margin-top: 11px;
                                max-height: 180px;
                                min-height: 100px;
                                .product-title-desc {
                                    text-align: center;
                                    margin-top: 8px;
                                    margin-bottom: 8px;
                                    p {
                                        font-size: 14px;
                                        line-height: 17px;
                                        margin: 0;
                                    }
                                }
                                img {
                                    max-height: 100px;
                                    width: auto;
                                }
                            }
                        }
                        .cart_items_container-slot-right {
                            display: flex;
                            flex-direction: column;
                            .cart_items_container-slot-items {
                                display: flex;
                                flex-direction: column;
                                .product-desc-slot {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    &:nth-child(even) {
                                        background-color: #EFEFEF;
                                    }
                                    .product-size,
                                    .product-quantity,
                                    .product-price,
                                    .product-availability,
                                    .product-value,
                                    .product-delete {
                                        width: 80px;
                                        text-align: center;
                                    }
                                    .product-quantity {
                                        input {
                                            width: 59px;
                                            height: 27px;
                                            text-align: center;
                                            font-size: 16px;
                                            &::-webkit-inner-spin-button,
                                            &::-webkit-outer-spin-button {  
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    .product-delete {
                                        display: flex;
                                        justify-content: center;
                                        span {
                                            content: '';
                                            display: block;
                                            width: 14px;
                                            height: 14px;
                                            background: url('./../assets/icons/close2.svg');
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .cart-clean-search-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid #3E3E3E;
                    .cart-clean-button-container {
                        .cart-clean-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 221px;
                            height: 60px;
                            box-sizing: border-box;
                            border: 2px solid #2CB5FF;
                            border-radius: 30px;
                            margin: 15px 15px 0 15px;
                            text-decoration: none;
                            font-size: 20px;
                            color: #3E3E3E;
                            cursor: pointer;
                            transition: 0.6s;
                            svg {
                                width: 20px;
                                height: 20px;
                                margin-right: 8px;
                            }
                            &:hover {
                                filter: brightness(1.15);
                            }
                        }
                    }
                    .cart-search-container {
                        position: relative;
                        margin-top: 15px;
                        #searchQueryInput-cart {
                            box-sizing: border-box;
                            width: 235px;
                            height: 36px;
                            border: 1px solid #cecece;
                            border-radius: 20px;
                            padding-left: 16px;
                            background-color: #efefef;
                            &:focus {
                              border: 1px solid #2cb5ff;
                              outline: 0;
                            }
                          }
                          #searchQuerySubmit-cart {
                            position: absolute;
                            top: -1px;
                            right: 0;
                            width: 36px;
                            height: 36px;
                            background-color: unset;
                            border: unset;
                            cursor: pointer;
                          }
                    }
                }
            }
            .cart_items_container-right {
                .header-right {
                    display: flex;
                    background-color: #CECECE;
                    height: 55px;
                    width: 100%;
                }
                .cart_right_container {
                    position: sticky;
                    top: 80px;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;   
                    margin: 24px;    
                    box-shadow: 0px 3px 6px #00000029;
                    border: 1px solid #CECECE;
                    border-radius: 10px; 
                    padding: 12px 20px;
                    .title {
                        margin: 0 0 20px 0;
                    }
                    .active-container {
                        position: relative;
                        margin-bottom: 15px;
                        #active-input {
                            box-sizing: border-box;
                            width: 100%;
                            height: 36px;
                            border-radius: 20px;
                            padding-left: 16px;
                            font-size: 16px;
                            background-color: #EFEFEF;
                            border: 1px solid #CECECE;
                            &:focus {
                                outline: 1px solid #2CB5FF;
                            }
                        }
                        #active-btn {
                            position: absolute;
                            top: 0px;
                            right: 0;
                            width: 117px;
                            height: 36px;
                            background-color: unset;
                            border: unset;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 400;
                            background-color: #FFFFFF;
                            border: 2px solid #2CB5FF;
                            border-radius: 30px;
                            transition: 0.6s;
                            &:hover {
                                filter: brightness(1.15);
                            }
                        }
                    }
                    form {
                        .cart_radios {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            margin-bottom: 5px;
                            input {
                                margin-top: 3px;
                                font-size: 16px;
                                line-height: 19px;
                            }
                            label {
                                margin-left: 4px;
                            }
                        }
                    }
                    .total_price_without_delivery {
                        display: flex;
                        justify-content: space-between;
                        .total_price-text,
                        .total_price-value {
                            p {
                                font-size: 20px;
                                line-height: 24px;
                                color: #3E3E3E;
                                font-weight: bold;
                                margin: 16px 0 0 0;
                            }
                        }
                        .total_price-value {
                            p {
                                white-space: pre;
                            }
                        }
                    }
                    .additional_info {
                        p {
                            font-size: 14px;
                            line-height: 17px;
                            color: #3E3E3E;
                            margin-top: 15px;
                            margin-bottom: 5px;
                        }
                    }
                    .delivery_payment_button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 60px;
                        width: 100%;
                        border: 1px solid #2CB5FF;
                        background-color: #2CB5FF;
                        border-radius: 30px;
                        box-sizing: border-box;
                        transition: 0.6s;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #FFFFFF;
                            text-decoration: none;
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 400;
                            text-transform: uppercase;
                            width: 100%;
                            height: 100%;
                            svg {
                                margin-top: -8px;
                                margin-left: 4px;
                                width: 24px;
                                height: 24px;
                                transform: translateY(3px) rotate(180deg);
                            }
                        }
                        &:hover {
                            filter: brightness(1.15);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #cart {
        .cart_container {
            padding: 10px;
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% - -20px);
            margin-bottom: 67px;
            .cart_items_container {
                flex-direction: column;
                .cart_items_container-left {
                    flex-direction: column;
                    .cart_items_container-slots {
                        flex-direction: column;
                        .cart_items_container-header {
                            justify-content: space-around;
                            height: 44px;
                            overflow-x: scroll;
                            overflow-y: hidden;
                            &.no-items {
                                display: none;
                            }
                            .product-title-img,
                            .product-size,
                            .product-quantity,
                            .product-availability,
                            .product-value,
                            .product-delete {
                                width: auto;
                                margin: 0 6px;
                                p {
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }
                            .product-price {
                                display: none;
                            }
                            .product-title-img {
                                display: none;
                            }
                        }
                        .cart_items_container-slot {
                            flex-direction: column;
                            width: auto;
                            overflow: hidden;
                            & > p.empty-cart-info {
                                height: auto;
                                font-size: 14px;
                                line-height: 15px;
                            }
                            .cart_items_container-slot-left {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                .cart_items_container-slot-img {
                                    width: auto;
                                }
                            }
                            .cart_items_container-slot-right {
                                .cart_items_container-slot-items {
                                    .product-desc-slot {
                                        justify-content: space-between;
                                        font-size: 14px;
                                        .product-size,
                                        .product-quantity,
                                        .product-availability,
                                        .product-delete {
                                            width: auto;
                                            min-width: 40px;
                                            margin: 0 6px;
                                        }
                                        .product-value {
                                            word-break: break-all;
                                            width: auto;
                                            margin: 0 6px;
                                        }
                                        .product-quantity {
                                            input {
                                                width: 59px;
                                                font-size: 14px;
                                            }
                                        }
                                        .product-price {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .cart-clean-search-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-top: 1px solid #3E3E3E;
                        .cart-clean-button-container {
                            width: 100%;
                            margin-bottom: 15px;
                            .cart-clean-button {
                                width: 90%;
                                padding: 0 16px;
                            }
                        }
                        .cart-search-container {
                            width: 99%;
                            margin-right: 8px;
                            #searchQueryInput-cart {
                                width: 100%;
                            }
                        }
                    }
                }
                .cart_items_container-right {
                    .header-right {
                        height: 0;
                    }
                    .cart_right_container {
                        margin: 0;
                        .total_price_without_delivery {
                            .total_price_value {
                                p {
                                    white-space: pre;
                                }
                            }
                        }
                        .active-container {
                            #active-btn {
                                padding: 0 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    body.empty-cart .cart-clean-search-container .cart-clean-button-container {
        display: none !important;
    }
    body.empty-cart .cart_container .cart_items_container .cart_items_container-left {
        flex-direction: column-reverse !important;
    }
    body.cart-page #cart .cart_container .cart_items_container .cart_items_container-left .cart-clean-search-container .cart-search-container {
        margin-top: 0 !important;
        margin-bottom: 15px !important;
    }
}