#cart_delivery_payment {
    margin-top: 37px;
    .cart_delivery_payment_container {
        margin-bottom: 80px;
        .cart_delivery_payment_container-slot {
            position: relative;
            width: 100%;
            height: auto;
            padding: 15px 0;
            box-shadow: 0px 3px 15px #00000033;
            border-radius: 20px 20px 0px 0px;
            background-color: #FFFFFF;
            margin-top: -20px;
            z-index: 1;
            &:first-of-type {
                margin-top: 0;
                .number_title_container {
                    margin-top: -10px;
                }
            }
            .number_title_container {
                display: flex;
                align-items: center;
                margin-bottom: 100px;
                .number {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    width: 46px;
                    height: 46px;
                    border-radius: 100%;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    background-color: #2CB5FF;
                    margin: 0 0 0 15px;
                }
                .title_desc {
                    display: inline-flex;
                    align-items: center;
                    .title {
                        display: inline-flex;
                        margin-left: 11px;
                        font-size: 28px;
                        line-height: 34px;
                        margin: 0 0 0 16px;
                    }
                    .desc {
                        font-size: 20px;
                        line-height: 24px;
                        color: #707070;
                        margin-left: 10px;
                    }
                }
            }
            .cart_description {
                margin-bottom: 32px;
                p {
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    margin: 0 0 0 41px;
                }
            }
            .cart_data {
                padding: 0 30px 30px 30px;
                .cart_data_container {
                    form {
                        display: flex;
                        flex-direction: row;
                        .form-slot {
                            display: flex;
                            flex-direction: column;
                            width: 32%;
                            margin-left: 3%;
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                            label {
                                font-size: 16px;
                                line-height: 19px;
                                margin: 0 0 0 16px;
                            }
                            input {
                                box-sizing: border-box;
                                width: 100%;
                                height: 40px;
                                border-radius: 20px;
                                font-size: 16px;
                                background-color: #EFEFEF;
                                border: 1px solid #CECECE;
                                margin-bottom: 20px;
                                padding-left: 16px;
                                &:focus {
                                    outline: 1px solid #2CB5FF;
                                }
                            }
                            textarea {
                                box-sizing: border-box;
                                width: 100%;
                                height: auto;
                                border-radius: 20px;
                                font-size: 16px;
                                background-color: #EFEFEF;
                                border: 1px solid #CECECE;
                                padding: 16px;
                                margin-bottom: 56px;
                                &:focus {
                                    outline: 1px solid #2CB5FF;
                                }
                            }
                        }
                    }
                }
            }
            .cart_square_container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 66px;
                &.payment-method {
                    margin-bottom: 80px;
                }
                .cart_square-slot {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 248px;
                    padding: 30px 15px;
                    box-shadow: 0px 3px 15px #00000033;
                    border-radius: 20px;
                    background-color: #FFFFFF;
                    width: 25%;
                    border: 1px solid #CECECE;
                    cursor: pointer;
                    &.checked {
                        border: 3px solid #707070;
                        &::after {
                            position: absolute;
                            content: "";
                            display: block;
                            bottom: 2px;
                            right: 4px;
                            background: url(./../assets/icons/cart_green_approve.svg);
                            width: 60px;
                            height: 60px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            cursor: pointer;
                        }
                    }
                    &.text {
                        justify-content: flex-start;
                    }
                    .text-top {
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 0;
                    }
                    img {
                        margin: 16px 0;
                    }
                    .only-text {
                        .text-bottom {
                            font-size: 20px;
                            line-height: 24px;
                            text-align: center;
                            margin: 0;
                            span {
                                font-size: 14px;
                            }
                            &.small {
                                font-size: 16px;
                                line-height: 21px;
                            }
                            &.with-image {
                                position: relative;
                                display: inline-flex;
                                margin: 24px;
                                margin-left: 48px;
                                &::before {
                                    position: absolute;
                                    content: '';
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    top: -2px;
                                    left: -36px;
                                    background: url('./../assets/icons/home_icon_gray.png');
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                    }
                }
            }
            .title-checkbox {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                width: 100%;
                .title-address {
                    display: flex;
                    justify-content: center;
                    margin-left: 15px;
                    font-size: 28px;
                    line-height: 34px;
                    font-weight: 400;
                    margin-bottom: 32px;
                }
                .checkbox-wrapper-64 input[type="checkbox"] {
                    visibility: hidden;
                    display: none;
                  }
                
                  .checkbox-wrapper-64 *,
                  .checkbox-wrapper-64 ::after,
                  .checkbox-wrapper-64 ::before {
                    box-sizing: border-box;
                  }
                  .checkbox-wrapper-64 {
                    margin-left: 11px;
                  }
                  /* The switch - the box around the slider */
                  .checkbox-wrapper-64 .switch {
                    font-size: 17px;
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                  }
                
                  /* Hide default HTML checkbox */
                  .checkbox-wrapper-64 .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                
                  /* The slider */
                  .checkbox-wrapper-64 .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #707070;
                    border: 1px solid #adb5bd;
                    transition: .4s;
                    border-radius: 30px;
                  }
                
                  .checkbox-wrapper-64 .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    border-radius: 20px;
                    left: 2px;
                    bottom: 1px;                
                    background-color: #fff;
                    transition: .4s;
                  }
                
                  .checkbox-wrapper-64 input:checked + .slider {
                    background-color: #2CB5FF;
                    border: 1px solid #2CB5FF;
                  }
                
                  .checkbox-wrapper-64 input:focus + .slider {
                    box-shadow: 0 0 1px #2CB5FF;
                  }
                
                  .checkbox-wrapper-64 input:checked + .slider:before {
                    transform: translateX(19px);
                  }
            }
            .courier_address_container {
                display: none;
                &.active {
                    display: flex;
                    flex-direction: column;
                    margin: 0 30px 30px 30px;
                    .courier_address_container-main {
                        display: flex;
                        flex-direction: row;
                            .form-slot {
                                display: flex;
                                flex-direction: column;
                                width: 20%;
                                margin: 30px;
                                &:first-of-type {
                                    width: 50%;
                                }
                                &:nth-child(2) {
                                    width: 30%;
                                }
                                label {
                                    font-size: 16px;
                                    line-height: 19px;
                                    margin: 0 0 0 16px;
                                }
                                input {
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 40px;
                                    border-radius: 20px;
                                    font-size: 16px;
                                    background-color: #EFEFEF;
                                    border: 1px solid #CECECE;
                                    margin-bottom: 20px;
                                    padding-left: 16px;
                                    &:focus {
                                        outline: 1px solid #2CB5FF;
                                    }
                                }
                            }
                    }
                }
            }
            form {
                margin: 15px;
                .cart_radios {
                    margin-bottom: 8px;
                    label {
                        font-size: 16px;
                        line-height: 19px;
                        color: #3E3E3E;
                    }
                }
            }
            .cart_delivery_payment-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 5px 15px;
                .cart_delivery_payment-button-left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 259px;
                    height: 60px;
                    box-sizing: border-box;
                    background-color: #2CB5FF;
                    border: 1px solid #2CB5FF;
                    border-radius: 30px;
                    transition: 0.8s;
                    cursor: pointer;
                    a {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 16px;
                        svg {
                            width: 20px;
                            height: 20px;
                            margin-right: 4px;
                            margin-bottom: -3px;
                            path {
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
                .cart_delivery_payment-button-right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 151px;
                    height: 60px;
                    box-sizing: border-box;
                    background-color: #CECECE;
                    border: 1px solid #CECECE;
                    border-radius: 30px;
                    transition: 0.8s;
                    cursor: pointer;
                    &.active {
                        background-color: #2CB5FF;
                        border: 1px solid #2CB5FF;
                    }
                    a {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #FFFFFF;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 16px;
                        svg {
                            width: 20px;
                            height: 20px;
                            margin-left: 4px;
                            margin-bottom: -3px;
                            transform: rotate(180deg);
                            path {
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #cart_delivery_payment {
        margin-top: 16px;
        .cart_delivery_payment_container {
            margin-bottom: 67px;
            .cart_delivery_payment_container-slot {
                .number_title_container {
                    display: flex;
                    align-items: center;
                    margin-bottom: 31px;
                    .number {
                        min-width: 46px;
                    }
                    .title_desc {
                        display: flex;
                        flex-direction: column;
                        .title {
                            display: inline-flex;
                            margin-left: 11px;
                            font-size: 22px;
                            line-height: 27px;
                            margin: 0 0 0 16px;
                            width: 100%;
                        }
                        .desc {
                            display: flex;
                            font-size: 12px;
                            line-height: 14px;
                            color: #707070;
                            margin: 0;
                            margin-left: 10px;
                        }
                    }
                }
                .cart_data {
                    padding: 0 10px 10px 10px;
                    .cart_data_container {
                        form {
                            flex-direction: column;
                            .form-slot {
                                width: 95%;
                                margin-left: 0;
                            }
                        }
                    }
                }
                .cart_square_container {
                    overflow-x: scroll;
                    margin-bottom: 110px;
                    justify-content: flex-start;
                    &.payment-method {
                        margin-bottom: 36px;
                    }
                    .cart_square-slot {
                        height: 210px;
                        width: 210px;
                        min-width: 210px;
                        margin-right: 10px;
                    }
                }
                .cart_delivery_payment-buttons {
                    flex-direction: column;
                    align-items: center;
                    .cart_delivery_payment-button-left {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    } 
}