/* ========== BESTSELLER SECTION ========== */
#bestsellers {
    .swiper-products {
        position: relative;
        width: 100%;
        height: auto;
        padding: 15px;
        box-shadow: 0px 3px 15px #00000033;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
        .swiper-slide {
            display: inline-flex;
            width: 46% !important;
            margin-right: 1%;
            margin-left: 3%;
            &:nth-child(even) {
                margin-left: 1%;
                margin-right: 3%;
            }
            .product-swiper-container {
                position: relative;
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
                border-radius: 20px;
                width: 100%;
                .product-swiper-top-container {
                    display: flex;
                    flex-direction: row;
                    .product-swiper-image {
                        margin: auto;
                        padding: 10px;
                        user-select: none;
                        img {
                            object-fit: contain;
                            user-select: none;
                            width: 160px;
                        }
                        a {
                            img {
                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }
                        &.topseller::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 0;
                            left: 0;
                            background: url('./../assets/img/labels/bestseller.svg');
                            height: 90px;
                            width: 90px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        &.new::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 0;
                            left: 0;
                            background: url('./../assets/img/labels/new.svg');
                            height: 90px;
                            width: 90px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        &.promotion::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 0;
                            left: 0;
                            background: url('./../assets/img/labels/promotion.svg');
                            height: 90px;
                            width: 90px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        &.sale::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 0;
                            left: 0;
                            background: url('./../assets/img/labels/sale.svg');
                            height: 90px;
                            width: 90px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                    .product-swiper-desc {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        &.promostars::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 10px;
                            right: 10px;
                            background: url('./../assets/img/logo/logo-promostars.png');
                            height: 13px;
                            width: 100px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        &.promostars::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 10px;
                            right: 10px;
                            background: url('./../assets/img/logo/logo-promostars.png');
                            height: 13px;
                            width: 100px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        &.identity10::after {
                            position: absolute;
                            display: block;
                            content: '';
                            top: 10px;
                            right: 10px;
                            background: url('./../assets/img/logo/logo-10-identity.jpg');
                            height: 40px;
                            width: 40px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        .product-swiper-desc-top {
                            .swiper-product-title {
                                font-family: Segoe UI, sans-serif;
                                font-size: 19px;
                                line-height: 19px;
                                font-weight: 600;
                                margin: 24px 0 10px 0;
                                user-select: none;
                                a {
                                    font-family: Segoe UI, sans-serif;
                                    font-size: 19px;
                                    line-height: 19px;
                                    font-weight: 600;
                                    margin: 24px 0 10px 0;
                                    text-decoration: none;
                                    color: #3E3E3E;
                                    user-select: none;
                                    &:hover {
                                        color: #2CB5FF;
                                    }
                                }
                            }
                            .product-swiper-index,
                            .product-swiper-grammage,
                            .product-swiper-composition {
                                p {
                                    font-size: 12px;
                                    line-height: 14px;
                                    margin: 0;
                                    user-select: none;
                                }
                            }
                            .product-swiper-price {
                                p {
                                    display: inline-flex;
                                    align-items: center;
                                    font-size: 16px;
                                    line-height: 19px;
                                    margin: 6px 0;
                                    user-select: none;
                                    .product-swiper-login {
                                        color: #2CB5FF;
                                        text-decoration: none;
                                        font-weight: 600;
                                        margin-left: 4px;
                                        user-select: none;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                    img {
                                        margin-left: 4px;
                                    }
                                }
                            }
                            .product-swiper-add-to-compare {
                                position: relative;
                                font-size: 12px;
                                line-height: 18px;
                                margin: 4px 0;
                                padding-left: 20px;
                                cursor: pointer;
                                user-select: none;
                                margin-top: -4px;
                                &.active {
                                    color: #000000;
                                    &::before {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        top: 3px;
                                        left: 2px;
                                        background: url("./../assets/icons/compare_delete.svg");
                                        height: 12px;
                                        width: 12px;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                    }
                                }
                                &:hover {
                                    color: #2CB5FF;
                                }
                                &::before {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    top: 3px;
                                    left: 2px;
                                    background: url("./../assets/icons/compare_add.svg");
                                    height: 12px;
                                    width: 12px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                            }
                            .product-swiper-add-to-favorite {
                                position: relative;
                                font-size: 12px;
                                line-height: 18px;
                                margin: 4px 0;
                                padding-left: 20px;
                                cursor: pointer;
                                user-select: none;
                                margin-bottom: 8px;
                                &.active {
                                    color: #000000;
                                    &::before {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        top: 3px;
                                        left: 2px;
                                        background: url("./../assets/icons/favorite-red-heart-delete.svg");
                                        height: 12px;
                                        width: 12px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                    }
                                }
                                &:hover {
                                    color: #2CB5FF;
                                }
                                &::before {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    top: 3px;
                                        left: 2px;
                                    background: url("./../assets/icons/favorite-black-heart.svg");
                                    height: 12px;
                                    width: 12px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                            }
                            .product-swiper-colors {
                                display: inline-flex;
                                flex-wrap: wrap;
                                max-width: 90%;
                                .color {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 25px;
                                    height: 25px;
                                    font-size: 12px;
                                    line-height: 14px;
                                    border-radius: 100%;
                                    padding: 2px;
                                    margin-right: 2px;
                                    margin-top: 2px;
                                    cursor: pointer;
                                    user-select: none;
                                    &.color20 {
                                        border: 1px solid #707070;
                                    } 
                                    &.color22 {
                                        background-color: #00346d;
                                        color: #FFFFFF;
                                    } 
                                    &.color26 {
                                        background-color: #000000;
                                        color: #FFFFFF;
                                    } 
                                    &.color30 {
                                        background-color: #fa1821;
                                        color: #FFFFFF;
                                    } 
                                    &.color34 {
                                        background-color: #c8c8c6;
                                    } 
                                    &.color44 {
                                        background-color: #0083bc;
                                        color: #FFFFFF;
                                    } 
                                    &.color50 {
                                        background-color: #5f6568;
                                        color: #FFFFFF;
                                    } 
                                    &.color55 {
                                        background-color: #4a664e;
                                        color: #FFFFFF;
                                    } 
                                }
                            }
                        }
                        .product-swiper-desc-bottom {
                            display: flex;
                            justify-content: center;
                            transform: translate(-50%, 0%);
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                                &.active {
                                    transform: translateX(-50%) rotate(180deg);
                                }
                            .product-swiper-arrows-down {
                                user-select: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .product-swiper-bottom-container {
                    display: none;
                    margin: 20px;
                    padding-bottom: 24px;
                    &.show {
                        display: flex;
                    }
                    .product-swiper-bottom-left-desc {
                        margin-right: 8px;
                        ul {
                            padding-left: 18px;
                        }
                    }
                    .product-swiper-bottom-right-desc {
                        .swiper-desc-title {
                            display: inline-block;
                            margin-bottom: 16px;
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            left: 8px;
            &::after {
                background: url('./../assets/icons/dark-gray-arrow-right.svg');
                height: 46px;
                width: 26px;
                background-size: cover;
                background-repeat: no-repeat;
                font-size: 0;
                transform: rotate(180deg);
            }
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: 8px;
            &::after {
                background: url('./../assets/icons/dark-gray-arrow-right.svg');
                height: 46px;
                width: 26px;
                background-size: cover;
                background-repeat: no-repeat;
                font-size: 0;
            }
        }
        .swiper-pagination {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            .swiper-pagination-bullet {
                box-sizing: border-box;
                width: 12px;
                height: 12px;
                border: 2px solid #707070;
                background: #FFFFFF;
                opacity: 1;
                &-active {
                    background: #2CB5FF;
                    border: 2px solid #2CB5FF;
                }
            }
        }
    }
}
.products-slot-bottom-right-desc {
    .swiper-desc-title {
        display: inline-block !important;
        margin-bottom: 16px !important;
    }
}

@media (max-width: 960px) {
    #bestsellers {
        .swiper-products {
            height: auto;
            padding: 10px 0 32px 0;
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% - -20px);
            .swiper-slide {
                width: calc(100vw - 20px) !important;
                max-width: 100vw;
                margin-right: 10px;
                margin-left: 10px;
                &:nth-child(2) {
                    margin-right: 10px;
                    margin-left: 10px;
                }
                &:last-of-type {
                    margin-left: 10px;
                    width: calc(100vw + 10px)
                }
            }
            .swiper-button-prev {
                display: none;
            }
            .swiper-button-next {
                display: none;
            }
            .swiper-pagination {
                display: flex;
                justify-content: center;
                position: absolute;
                left: 0;
                bottom: 8px;
            }
        }
    }
    #bestsellers .product-swiper-desc::after {
        display: none !important;
    }
    #bestsellers .color {
        width: 30px !important;
        height: 30px !important;
        font-size: 14px !important;
    }
    #bestsellers .swiper-products .swiper-slide .product-swiper-container .product-swiper-top-container .product-swiper-desc .product-swiper-desc-bottom {
        transform: translate(-50%, 0%);
    }
}

@media (max-width: 600px) {
    #bestsellers .swiper-products .swiper-slide .product-swiper-container .product-swiper-top-container .product-swiper-image img {
        height: 100% !important;
    }
}