/* ========== NEWS SECTION ========== */
.photo-text-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15px;
    box-shadow: 0px 3px 15px #00000033;
    width: 100%;
    height: 327px;
    background-color: #FFFFFF;
    .left-photo-container {
        img {
            width: 400px;
            height: 297px;
            object-fit: contain;
        }
    }
    .right-text-container {
        padding-left: 30px;
        border-left: 1px solid #707070;
        margin: 15px 15px 15px 30px;
        height: 90%;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        overflow: hidden;
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            .main-link-btn {
                position: absolute;
                right: 15px;
                bottom: 15px;
                a {
                    font-family: Segoe UI, sans-serif;
                    font-size: 18px;
                    line-height: 24px;
                    color: #707070;
                    margin-left: 30px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            h1.text-title {
                font-size: 32px;
                line-height: 38px;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 12px;
            }
            .text-author-data {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                margin: 0;
                color: #707070;
            }
            .text-desc {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                margin: 0;
                & + ul {
                    padding-left: 0;
                    li {
                        list-style: none;
                        &::before {
                            content: '·';
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
} 

@media (max-width: 1170px) {
    .photo-text-container {
        height: auto;
        align-items: center;
    }   
}

@media (max-width: 800px) {
    .photo-text-container {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 10px;
        .left-photo-container {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .right-text-container {
            padding-left: 0;
            border-left: 0;
            width: 100%;
            margin: 10px;
            height: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .text-container {
                h1.text-title {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 12px;
                }
                .text-author-data {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    margin: 0;
                    color: #707070;
                }
                .text-desc {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    margin: 0;
                    & + ul {
                        padding-left: 0;
                        li {
                            font-size: 12px;
                            line-height: 18px;
                            list-style: none;
                            &::before {
                                content: '·';
                                margin-right: 8px;
                            }
                        }
                    }
                }
                .main-link-btn {
                    a {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }   
}