#your_profile.addresses,
#your_profile.employees {
    .subtitle_button-container {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;
        .subtitle {
            display: inline-flex;
            font-family: 'Segoe UI', sans-serif;
            font-size: 28px;
            line-height: 37px;
            font-weight: 400;
            color: #000000;
        }
        .add-address-btn-container {
            margin-left: 18px;
            .add-address-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #2CB5FF;
                background-color: #2CB5FF;
                border-radius: 16px;
                color: #FFFFFF;
                text-decoration: none;
                padding: 8px 16px;
                width: max-content;
                height: 40px;
                box-sizing: border-box;
                transition: 0.6s;
                font-size: 18px;
                line-height: 22px;

                &:hover {
                    background-color: #FFFFFF;
                    color: #2CB5FF;
                }
            }
        }
    }
    .table_container {
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        width: calc(100% + 42px);
        max-width: calc(100% + 42px);
        margin: 0px -30px 25px -30px;
        .addresses-table-row {
            height: 55px;
            width: 100%;
            &.header {
                background-color: #CECECE !important;
                .table-col {
                    p {
                        font-weight: 400;
                        font-family: 'Segoe UI', sans-serif;
                    }
                }
            }
            &:nth-child(even) {
                background-color: #EFEFEF;
            }
            .table-col {
                height: 55px;
                p {
                    text-align: center;
                    font-weight: 400;
                }
                .edit-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #2CB5FF;
                    background-color: #2CB5FF;
                    border-radius: 16px;
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 8px 16px;
                    width: max-content;
                    height: 32px;
                    box-sizing: border-box;
                    transition: 0.6s;
                    &:hover {
                        background-color: #FFFFFF;
                        color: #2CB5FF;
                    }
                }
            }
        }
    }
}

#your_profile.addresses,
#your_profile.employees {
    .subtitle_button-container {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;
        .subtitle {
            display: inline-flex;
            font-family: 'Segoe UI', sans-serif;
            font-size: 28px;
            line-height: 37px;
            font-weight: 400;
            color: #000000;
        }
        .add-address-btn-container {
            margin-left: 18px;
            .add-address-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #2CB5FF;
                background-color: #2CB5FF;
                border-radius: 16px;
                color: #FFFFFF;
                text-decoration: none;
                padding: 8px 16px;
                width: max-content;
                height: 40px;
                box-sizing: border-box;
                transition: 0.6s;
                font-size: 18px;
                line-height: 22px;
                border-radius: 20px;

                &:hover {
                    background-color: #FFFFFF;
                    color: #2CB5FF;
                }
            }
        }
    }
    .table_container {
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        width: calc(100% + 42px);
        max-width: calc(100% + 42px);
        margin: 0px -30px 25px -30px;
        .addresses-table-row {
            height: 55px;
            width: 100%;
            &.header {
                background-color: #CECECE !important;
                .table-col {
                    p {
                        font-weight: 400;
                        font-family: 'Segoe UI', sans-serif;
                    }
                }
            }
            &:nth-child(even) {
                background-color: #EFEFEF;
            }
            .table-col {
                width: 22%;
                height: 55px;
                text-align: center;
                &.short {
                    width: 100px;
                }
                p {
                    text-align: center;
                    font-weight: 400;
                }
                .edit-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #2CB5FF;
                    background-color: #2CB5FF;
                    border-radius: 16px;
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 8px 16px;
                    width: max-content;
                    height: 32px;
                    box-sizing: border-box;
                    transition: 0.6s;
                    margin: 0 auto;
                    &:hover {
                        background-color: #FFFFFF;
                        color: #2CB5FF;
                    }
                }
            }
        }
    }
}

#your_profile.employees {
    .table_container {
        .addresses-table-row {
            &.header {
                .table-col {
                    &:nth-child(1) {
                        width: 1%;
                    }
                    &:nth-child(2) {
                        width: 11%;
                    }
                    &:nth-child(3) {
                        width: 8%;
                    }
                    &:nth-child(4) {
                        width: 8%;
                    }
                    &:nth-child(5) {
                        width: 15%;
                    }
                    &:nth-child(6) {
                        width: 6%;
                    }
                    &:nth-child(7) {
                        width: 2%;
                    }
                }
            }
        }
    }
}

.table_container.short67 {
   .table-col.short {
        a {
            margin: 0 16px !important;
        }
        &:last-child {
            padding-right: 10px !important;
        }
    }
}

@media (max-width: 960px) {
    #your_profile.addresses,
    #your_profile.employees {
        .subtitle_button-container {
            margin: 0 30px;
            .subtitle {
                font-size: 22px;
                line-height: 28px;
                margin: 0;
            }
        }
        .table_container {
            overflow-x: scroll;
            margin: 0 !important;
            margin-left: -10px !important;
            margin-right: -10px !important;
            width: calc(100% + 20px) !important;
            .addresses-table-row {
                &.header {
                    .table-col {
                        p {
                            font-weight: 400;
                            font-family: 'Segoe UI', sans-serif;
                            margin: 0 16px;
                        }
                    }
                }
                &:nth-child(even) {
                    background-color: #EFEFEF;
                }
                .table-col {
                    height: 55px;
                    p,
                    a {
                        margin: 0 16px;
                    }
                }
            }
        }
    }

    #your_profile.addresses,
    #your_profile.employees {
        .subtitle_button-container {
            display: inline-flex;
            align-items: center;
            margin-bottom: 0;
            .subtitle {
                display: inline-flex;
                font-family: 'Segoe UI', sans-serif;
                font-size: 28px;
                line-height: 37px;
                font-weight: 400;
                color: #000000;
            }
            .add-address-btn-container {
                margin-left: 18px;
                .add-address-btn {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #2CB5FF;
                    background-color: #2CB5FF;
                    border-radius: 25px;
                    color: #FFFFFF;
                    text-decoration: none;
                    padding: 8px 18px;
                    width: max-content;
                    height: 40px;
                    box-sizing: border-box;
                    transition: 0.6s;
                    font-size: 18px;
                    line-height: 22px;

                    &:hover {
                        background-color: #FFFFFF;
                        color: #2CB5FF;
                    }
                }
            }
        }
        .table_container {
            .addresses-table-row {
                height: 55px;
                width: 100%;
                &.header {
                    background-color: #CECECE !important;
                    .table-col {
                        p {
                            font-weight: 400;
                            font-family: 'Segoe UI', sans-serif;
                        }
                    }
                }
                &:nth-child(even) {
                    background-color: #EFEFEF;
                }
                .table-col {
                    p {
                        text-align: center;
                        font-weight: 400;
                        white-space: pre;
                    }
                    .edit-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #2CB5FF;
                        background-color: #2CB5FF;
                        border-radius: 16px;
                        color: #FFFFFF;
                        text-decoration: none;
                        padding: 8px 16px;
                        width: max-content;
                        height: 32px;
                        box-sizing: border-box;
                        transition: 0.6s;
                        &:hover {
                            background-color: #FFFFFF;
                            color: #2CB5FF;
                        }
                    }
                }
            }
        }
    }

    #your_profile.employees {
        .table_container {
            .addresses-table-row {
                &.header {
                    .table-col {
                        &:nth-child(1) {
                            width: 1%;
                        }
                        &:nth-child(2) {
                            width: 11%;
                        }
                        &:nth-child(3) {
                            width: 8%;
                        }
                        &:nth-child(4) {
                            width: 8%;
                        }
                        &:nth-child(5) {
                            width: 15%;
                        }
                        &:nth-child(6) {
                            width: 6%;
                        }
                        &:nth-child(7) {
                            width: 2%;
                        }
                    }
                }
            }
        }
    }
}