#your_profile.company_data {
    .add_logo_container {
        .add_logo_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            border: 1px solid #CECECE;
            border-radius: 20px;
            margin-left: 63px;
            cursor: pointer;
            &:hover {
                border: 1px solid #2CB5FF;
            }
            .add_logo_box-text {
                p {
                    font-size: 14px;
                    line-height: 17px;
                    color: #707070;
                    text-align: center;
                    margin: 0 0 11px 0;
                }
            }
            .add_logo_box-plus {
                p {
                    font-size: 40px;
                    line-height: 20px;
                    color: #707070;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
    .input-container {
        display: flex;
        flex-direction: column;
        .input-slot {
            margin-top: 20px;
            width: 50%;
            &.row {
                display: flex;
                flex-direction: row;
                .slot {
                    display: flex;
                    flex-direction: column;
                    &:nth-child(1) {
                        width: 60%;
                        margin-right: 15%;
                    }  
                    &:nth-child(2) {
                        width: 25%;
                    }  
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #your_profile.company_data {
        .add_logo_container {
            .add_logo_box {
                margin-top: 15px;
            }
        }
        .input-container {
            .input-slot {
                margin-top: 16px;
                width: 100%;
                &.row {
                    display: flex;
                    flex-direction: column;
                    .slot {
                        display: flex;
                        flex-direction: column;
                        &:nth-child(1) {
                            width: 100%;
                            margin-right: 0;
                        }  
                        &:nth-child(2) {
                            margin-top: 16px;
                            width: 100%;
                        }  
                    }
                }
            }
        }
    }
    body.company-data {
        #your_profile {
            .your_profile_container {
                .input-container {
                    .input-slot {
                        label {
                            margin-top: 0;
                        }
                    }
                }
            } 
        }
        #your_profile .your_profile_container .save-btn-container .save-btn {
            margin-right: 0;
        }
    }
}