#your_profile {
    margin-top: 45px;
    .your_profile_container {
        width: 100%;
        height: auto;
        padding: 30px 12px 20px 30px;
        box-shadow: 0px 3px 15px #00000033;
        margin-bottom: 100px;
        .title {
            font-size: 36px;
            line-height: 43px;
            font-weight: 400;
            color: #3E3E3E;
            margin-bottom: 0;
        }
        .subtitle {
            font-size: 28px;
            line-height: 34px;
            font-weight: 400;
            color: #3E3E3E;
            margin-bottom: 22px;
        }
        .input-container {
            display: flex;
            flex-direction: row;
            .input-slot {
                display: flex;
                flex-direction: column;
                width: 33%;
                margin-right: 2%;
                label {
                    margin-top: 0px;
                    margin-left: 12px;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    font-family: 'Roboto', sans-serif;
                    background-color: #EFEFEF;
                    border: 1px solid #CECECE;
                    border-radius: 20px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 400;
                    padding-left: 16px;
                    padding-right: 16px;
                    &:focus {
                        border: 1px solid #2CB5FF;
                        outline: 0;
                    }
                }
            }
        }
        .save-btn-container {
            margin-top: 30px;
            display: flex;
            justify-content: flex-end;
            .save-btn {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 60px;
                box-sizing: border-box;
                background-color: #2CB5FF;
                border: 1px solid #2CB5FF;
                border-radius: 30px;
                transition: 0.8s;
                margin-right: 18px;
                cursor: pointer;
                &:hover {
                    background-color: #FFFFFF;
                    a {
                        color: #2CB5FF;
                    }
                }
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #FFFFFF;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #your_profile {
        margin-top: 16px;
        .your_profile_container {
            padding: 10px;
            margin-bottom: 67px;
            margin-left: -10px;
            margin-right: -10px;
            width: calc(100% + 20px);
            table {
                margin-left: -10px !important;
                margin-right: -10px !important;
                width: calc(100% + 20px) !important;
            }
            .title {
                font-size: 27px;
                line-height: 33px;
                margin-bottom: 4px;
            }
            .subtitle {
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 0;
            }
            .subtitle_button-container {
                margin: 20px 0 !important;
                .subtitle {
                    font-size: 21px !important;
                    line-height: 28px !important;                }
            }
            .input-container {
                flex-direction: column;
                .input-slot {
                    width: 100%;
                    margin-right: 0;
                    label {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}